# Data types and structures

In [2]:
s = "We are learning python ! "

print(len(s))
print(s[1])
print(s[-4])
print(s+ 'there')
print(s.lower())
print(s.upper())
print(s.strip())

25
e
n
We are learning python ! there
we are learning python !
WE ARE LEARNING PYTHON !
We are learning python !

In [3]:
print(s.find('learning'))

#returns the index at which the word "learning" starts

7

In [4]:
s = s.replace('learning', 'studying')
s

'We are studying python ! '

In [5]:
s_splitted = s.split(" ")

s_splitted

['We', 'are', 'studying', 'python', '!', '']

In [6]:
print(type(s_splitted))

<class 'list'>

In [7]:
#joining a list of elements into a single string
#this joins the elements of thes_splitted variable into a sentence or single string with each word seperated from the other by spaces

s_joined = ' '.join(s_splitted)

s_joined

'We are studying python ! '

In [8]:
y = 'ThatAIguy'

print(y[-9])
print(y[:5])
print(y[::2])  #loops over the string and selects the second letter at each interval
print(y[::4])
print(y[::-1])

T
ThatA
TaAgy
TAy
yugIAtahT

## Lists

In [9]:
mental = []
print(type(mental))

<class 'list'>

In [10]:
mental = ['shark', 'cuttleship', 'octopus', 'anemone']
print(type(mental))
print(len(mental))

print(mental[: 2])

<class 'list'>
4
['shark', 'cuttleship']

In [11]:
mental.append(True)
mental.append('NASA')
mental.append(20.098)
mental.append([34, 56, 'Yacht'])

mental

['shark',
 'cuttleship',
 'octopus',
 'anemone',
 True,
 'NASA',
 20.098,
 [34, 56, 'Yacht']]

In [15]:
print(mental[7][2])

Yacht

In [16]:
print(mental[7][1])

56

In [17]:
#lists are mutable that means that they can be mofified after they have been created

mental[3] = 'I will work at NASA someday.'
mental[7][1] = 'United states of America'
mental

['shark',
 'cuttleship',
 'octopus',
 'I will work at NASA someday.',
 True,
 'NASA',
 20.098,
 [34, 'United states of America', 'Yacht']]

In [18]:
#sorting a list - the list to be sorted should be homogenuous

fold = [1,5,90, 87, 56, 43, 23, 21, 12, 34, 1, 2]

print('list before sorting: ', fold)

fold.sort()

print('list after sorting: ', fold)

list before sorting:  [1, 5, 90, 87, 56, 43, 23, 21, 12, 34, 1, 2]
list after sorting:  [1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90]

In [45]:
#extending the mental list with the fold list
mental.extend(fold)

mental

['shark',
 'cuttleship',
 'octopus',
 'I will work at NASA someday.',
 True,
 'NASA',
 20.098,
 True,
 'NASA',
 20.098,
 [34, 'United states of America', 'Yacht'],
 1,
 1,
 2,
 5,
 12,
 21,
 23,
 34,
 43,
 56,
 87,
 90,
 1,
 1,
 2,
 5,
 12,
 21,
 23,
 34,
 43,
 56,
 87,
 90,
 1,
 1,
 2,
 5,
 12,
 21,
 23,
 34,
 43,
 56,
 87,
 90,
 1,
 1,
 2,
 5,
 12,
 21,
 23,
 34,
 43,
 56,
 87,
 90]

In [21]:
fold.reverse()
fold

[90, 87, 56, 43, 34, 23, 21, 12, 5, 2, 1, 1]

In [22]:
#concatenated list
print(mental+fold)

['shark', 'cuttleship', 'octopus', 'I will work at NASA someday.', True, 'NASA', 20.098, [34, 'United states of America', 'Yacht'], 90, 87, 56, 43, 34, 23, 21, 12, 5, 2, 1, 1]

## Tuple

In [23]:
table = ()
print(type(table))

<class 'tuple'>

In [31]:
table = (1, 'NASA', 'NASA', 1, 1, 'FalseTrue', ('Another tuple'), [1,2,3,4,5])

print(type(table))
print(len(table))
print(table[2:4])

<class 'tuple'>
8
('NASA', 1)

In [27]:
#tuples are immutable

table[2] = 'Positive'

TypeError: 'tuple' object does not support item assignment

In [34]:
#methods

print(table.count('NASA'))

2

## Sets

In [35]:
#one way to intialize sets
this_set = set()
print(type(this_set))

<class 'set'>

In [37]:
this_set = set([1,1,2,4,5,'NASA'])

print(this_set)
#sets do not allow duplicate values

{1, 2, 4, 5, 'NASA'}

In [38]:
s = {}
print(type(s))

<class 'dict'>

In [39]:
#second way to intialize sets
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [57]:
#sets cannot be indexed
s[2] = 5

TypeError: 'set' object does not support item assignment

In [46]:
set1 = {1,2,3,4}
set2 = {5,6,7,4}

#concatenation or union
print(set1|set2)  
print(set1.union(set2))

#intersection
print(set1&set2)
print(set1.intersection(set2))

#difference
print(set1-set2)
print(set1.difference(set2))
print(set2-set1)

#
print(set1^set2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{4}
{1, 2, 3}
{1, 2, 3}
{5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [60]:
#are sets mutable?
#yes, but not in the same way as lists

my_set = {3,5,7,8,0}

my_set.add('NASA')
print(my_set)

my_set.remove(5)
print(my_set)

{0, 3, 5, 7, 8, 'NASA'}
{0, 3, 7, 8, 'NASA'}

## Dictionary

In [47]:
dine = {}

dine = {'name': 'Hannah', 'food': 'beans', 'instition': 'NASA', 'snack': 'peanut'}

print(dine)

{'name': 'Hannah', 'food': 'beans', 'instition': 'NASA', 'snack': 'peanut'}

In [50]:
print(dine['name'])

Hannah

In [54]:
#updating dictioanries - keys are immutable while values are mutable

dine['food'] = 'rice and beans with plantain and vegetable sauceðŸ¤—'
dine['school1'] = 'FUTO'
dine['school2'] = 'Stanford'
dine['book'] = 'Harry Potter'
dine['book2'] = 'GOT'
dine

{'name': 'Hannah',
 'food': 'rice and beans with plantain and vegetable sauceðŸ¤—',
 'instition': 'NASA',
 'snack': 'peanut',
 'school1': 'FUTO',
 'school2': 'Stanford',
 'book': 'Harry Potter',
 'book2': 'GOT'}

In [55]:
del dine['book2']
dine

{'name': 'Hannah',
 'food': 'rice and beans with plantain and vegetable sauceðŸ¤—',
 'instition': 'NASA',
 'snack': 'peanut',
 'school1': 'FUTO',
 'school2': 'Stanford',
 'book': 'Harry Potter'}

In [103]:
print(dine.keys())
print(dine.items())

dict_keys(['name', 'food', 'instition', 'snack', 'school1', 'school2', 'book'])
dict_items([('name', 'Hannah'), ('food', 'rice and beans with plantain and vegetable sauceðŸ¤—'), ('instition', 'NASA'), ('snack', 'peanut'), ('school1', 'FUTO'), ('school2', 'Stanford'), ('book', 'Harry Potter')])

# Summary

Lists:

- Mutable
- Dynamic as they can increase or be decreased in size
- Ordered collection of items which means it can be indexed and sliced

Tuples:
- Similar to lists
- Immutable
- Allows slicing and indexing

Dictionary:
- Keys are immutable and unique, values are mutable
- Unordered collection of items which means they cannot be indexed

Sets:
- No duplicates are allowed
- Unordered collection of items which means they do not allow indexing or slicing
- They are mutable

# Task

A a program to manage tasks, or a to-do list

In [96]:
task_status = {'Done', 'In progress', 'Not done'}

my_to_do = {'Tasks': ['Morning routine', 'Chess practice', 'Read book', 'RAG task', 'JIN SM', 'Day 2 DS'],
            'Time(mins)': [120, 20, 60, 120, 30, 90],
            'Status': ['Done', 'Done', 'Done', 'Not done', 'Done', 'In progress']
           }

print("{:<15} {:<15} {:<15}".format('Tasks', 'Time(mins)', 'Status'))

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Tasks           Time(mins)      Status
Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              In progress

In [97]:
## Features for the program

#1 Add tasks to the to-do list.

new_task = 'Sleep'
time = 60
status = 'Done'

my_to_do['Tasks'].append(new_task)
my_to_do['Time(mins)'].append(time)
my_to_do['Status'].append(status)

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              In progress
Sleep           60              Done

In [98]:
#2 removing tasks from the to_do list

del my_to_do['Tasks'][6]

my_to_do

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              In progress

In [100]:
#3 updating tasks

my_to_do['Status'][5] = 'Done'

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:<15}".format(task, time, status))

Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              Done