# Application Programming Interface

An API simply connects apps together. There is usually a documentation available for any API documentation you are to use. It is important that you give them a read.

API's are also used to retrieve data from remote websites. To use an API, you make a request to a remote web server and retrieve the data you need. We use API in cases where the data quickly changes, e.g stock market data or in cases where we want a small pece of a much larger dataset, e,g twitter.


**Some communication protocols** include: FTP, SFTP, SMTP, HTTP, and HTTPS.

**HTTP request modes** include: POST(create), GET(read/retrieve), PUT(update) and DELETE(delete).


**API Endpoint**: is a digital location where an API receives requests about a specific resource on its server.


**Making an API request**

- To get data, we make a HTTP request to a webserver
- The server then replies with our data. The requests module in python is used to do this
- There are many different we can make as well. GET request is the most common, used to retrieve data.

In [3]:
#How to send a request to open Google home page in python

import requests
URL = 'https://google.com'
response = requests.get(URL)


#Alternatively, to send a request to open Google home page, 
#you simply open your browser, type google.com in the url secton and hit enter

## Request and Response from Google Web server

In [1]:
#import library
import requests

In [2]:
#make a get request to fetch search results on 'hannah igboke'

response = requests.get('https://google.com/search?q=hannah+igboke')

In [3]:
#printing response headers

print(response.headers)

{'Content-Type': 'text/html; charset=ISO-8859-1', 'Date': 'Fri, 10 May 2024 14:38:29 GMT', 'Expires': '-1', 'Cache-Control': 'private, max-age=0', 'Content-Security-Policy': "object-src 'none';base-uri 'self';script-src 'nonce-qlKlW_hKDsIM1UhRQv0pEQ' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/xsrp", 'P3P': 'CP="This is not a P3P policy! See g.co/p3phelp for more info."', 'Content-Encoding': 'gzip', 'Server': 'gws', 'X-XSS-Protection': '0', 'X-Frame-Options': 'SAMEORIGIN', 'Set-Cookie': '1P_JAR=2024-05-10-14; expires=Sun, 09-Jun-2024 14:38:29 GMT; path=/; domain=.google.com; Secure, AEC=AQTF6HzgvBfOkDts00NYDrzYkIUztnEcM7YVP3NBcyI6criM4tHfJOewzg; expires=Wed, 06-Nov-2024 14:38:29 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=lax, receive-cookie-deprecation=1; expires=Wed, 06-Nov-2024 14:38:29 GMT; path=/; Secure; HttpOnly; SameSite=none; Partitioned, NID=514=mIxWb1ypp9FbRC8JyMC3hSUbAmAS2hRTfrq2QaMHCgMFlAAnSPnAiyzI9xZsC5h8_1hjmkEJUuZv4b13-Kb84NDcDxzNeZ04mSyQTj-pqiqcd2OgohcY9EiPPJRGCRG0617moghoexc_1pxJByl_Fmh9-iMRjTgBh5V30FqkiHg; expires=Sat, 09-Nov-2024 14:38:29 GMT; path=/; domain=.google.com; HttpOnly', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000', 'Transfer-Encoding': 'chunked'}

In [4]:
#checking the response url

print(response.url)

https://www.google.com/search?q=hannah+igboke

In [5]:
#check the status code of the response

print(response.status_code)

#200 means it was successful

200

In [6]:
#checking response encoding

print(response.encoding)

ISO-8859-1

In [7]:
#retrieving header properties the response content type

print(response.headers['Content-Type'])
print(response.headers['Cache-Control'])

text/html; charset=ISO-8859-1
private, max-age=0

In [8]:
#text response content
#this is useful if the response body contains text data

print(response.text[0:100])

#you can also try
#print(response.text)

<!doctype html><html lang="en-NG"><head><meta charset="UTF-8"><meta content="/images/branding/google

In [9]:
#for cases where the response body contains non-text data 
# binary response content

print(response.content[0:100])

b'<!doctype html><html lang="en-NG"><head><meta charset="UTF-8"><meta content="/images/branding/google'

In [14]:
#JSON response content

print(response.json())

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

The error lets us know that no json data found

## Status code

- 1xx = information
- 2xx = success
- 3xx = redirection

    - 301: the server is redirecting you to a different endpoint. This happens when a company switches domain names or an endpoint name is changed
    
    
- 4xx = client error

    - 400: bad request caused by not sending the right details
    - 401: server thinks you're not authenticated. This happens when you don't send the right credentials to access an API
    - 403: resource you're trying to access is forbidden. You don't have the right permission to access it
    - 404: the resource tried was not found on the server


- 5xx = server error

In [10]:
#trying an endpoint that does not exist

response = requests.get('https://google.com/abcd')
print(response.status_code)

#an ednpoint that exists
response = requests.get('https://google.com/search')
print(response.status_code)

404
200

## Query parameters

In [16]:
#request without query parameter

import requests
response = requests.get('https://google.com/search')
print(response.status_code)

200

In [17]:
#request with query parameter

import requests

parameters = {'q': 'Hannah Igboke'}
response = requests.get('https://google.com/search', params = parameters)
print(response.status_code)

200

## Request and Response from ISS API

Using OpenNotify API. It has several API endpoints. Like I mentioned earlier, you can find the other API endpoints in the documentation: http://open-notify.org/Open-Notify-API/.

**Endpoints:**

1. `/iss-now.json`

This api returns the current location of the ISS. It returns the current latitude and longitude of the space station with a unix timestamp for the time the location was valid. This API takes no inputs. Remember that this data is not static and changes rapidly.

In [20]:
#making a request to get the latest position of ISS from the opennotify api

import requests
response = requests.get('http://api.open-notify.org/iss-now.json')
print(response.headers)
print(response.url)
print(response.status_code)
print(response.encoding)

{'Server': 'nginx/1.10.3', 'Date': 'Thu, 09 May 2024 19:01:46 GMT', 'Content-Type': 'application/json', 'Content-Length': '113', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}
http://api.open-notify.org/iss-now.json
200
utf-8

In [21]:
#printing text content

print(response.text)

{"message": "success", "iss_position": {"latitude": "-8.4779", "longitude": "-14.5603"}, "timestamp": 1715281306}

In [22]:
#printing binary content

print(response.content)

b'{"message": "success", "iss_position": {"latitude": "-8.4779", "longitude": "-14.5603"}, "timestamp": 1715281306}'

In [23]:
#printing json content

print(response.json())

{'message': 'success', 'iss_position': {'latitude': '-8.4779', 'longitude': '-14.5603'}, 'timestamp': 1715281306}

2. `/astros.json`

This API returns the current number of people in space.

In [24]:
import requests

response = requests.get('http://api.open-notify.org/astros.json')
print(response.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Thu, 09 May 2024 19:12:12 GMT', 'Content-Type': 'application/json', 'Content-Length': '360', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [25]:
data = response.json()

print(type(data))

#to verify that the response data is a dictionary

<class 'dict'>

In [26]:
data

{'message': 'success',
 'people': [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'},
  {'name': 'Andreas Mogensen', 'craft': 'ISS'},
  {'name': 'Satoshi Furukawa', 'craft': 'ISS'},
  {'name': 'Konstantin Borisov', 'craft': 'ISS'},
  {'name': 'Oleg Kononenko', 'craft': 'ISS'},
  {'name': 'Nikolai Chub', 'craft': 'ISS'},
  {'name': "Loral O'Hara", 'craft': 'ISS'}],
 'number': 7}

### Finding the number and names of astronaunts

In [28]:
data.values()

dict_values(['success', [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}], 7])

In [32]:
#how many people are in space?

print(data['number'])

7

In [33]:
#who are these people

print(data['people'])

[{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}]

In [34]:
#returning the names of these astronaunts

people_in_space = data['people']
for ast in people_in_space:
    print(ast['name'])

Jasmin Moghbeli
Andreas Mogensen
Satoshi Furukawa
Konstantin Borisov
Oleg Kononenko
Nikolai Chub
Loral O'Hara

## Converting the JSON data from API to dataframe

Many APIs return data in JSON format. We need to convert this JSON file into a dataframe that can be easily analyzed.

**Steps**:

- Use the request library to make the https requests to the API endpoint and retrieve the data. The API key, if required, needs to be included in the request headers

- Once you have obtained the data, you can push it in a pandas df to analyze and process it.

### Way 1

In [37]:
import requests
import pandas as pd

response = requests.get('http://api.open-notify.org/astros.json')

data = response.json()

df = pd.DataFrame(data)

df

   message                                          people  number
0  success     {'name': 'Jasmin Moghbeli', 'craft': 'ISS'}       7
1  success    {'name': 'Andreas Mogensen', 'craft': 'ISS'}       7
2  success    {'name': 'Satoshi Furukawa', 'craft': 'ISS'}       7
3  success  {'name': 'Konstantin Borisov', 'craft': 'ISS'}       7
4  success      {'name': 'Oleg Kononenko', 'craft': 'ISS'}       7
5  success        {'name': 'Nikolai Chub', 'craft': 'ISS'}       7
6  success        {'name': 'Loral O'Hara', 'craft': 'ISS'}       7

In [39]:
#To remove the message and number columns

astronauts = pd.DataFrame(data['people'])
astronauts

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS
5        Nikolai Chub   ISS
6        Loral O'Hara   ISS

### Way 2

Using pd.json_normalize(). The `json_normalize` function in pandas is used to normalize semi-structures JSON data into a flat table.

In [40]:
response = requests.get('http://api.open-notify.org/astros.json')

data = response.json()

df = pd.json_normalize(data, record_path)
df

   message                                             people  number
0  success  [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, ...       7

In [41]:
#It didn't come out as expected. We want the results to be like that of way 1

response = requests.get('http://api.open-notify.org/astros.json')

data = response.json()

df = pd.json_normalize(data, record_path=['people'])
df

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS
5        Nikolai Chub   ISS
6        Loral O'Hara   ISS

### Way 3

In [47]:
df = pd.read_json('http://api.open-notify.org/astros.json')
df

   message                                          people  number
0  success     {'name': 'Jasmin Moghbeli', 'craft': 'ISS'}       7
1  success    {'name': 'Andreas Mogensen', 'craft': 'ISS'}       7
2  success    {'name': 'Satoshi Furukawa', 'craft': 'ISS'}       7
3  success  {'name': 'Konstantin Borisov', 'craft': 'ISS'}       7
4  success      {'name': 'Oleg Kononenko', 'craft': 'ISS'}       7
5  success        {'name': 'Nikolai Chub', 'craft': 'ISS'}       7
6  success        {'name': 'Loral O'Hara', 'craft': 'ISS'}       7

In [48]:
#Again we are only intrested in the people column


astronauts = pd.json_normalize(df['people'])
astronauts

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS
5        Nikolai Chub   ISS
6        Loral O'Hara   ISS

## WORKING WITH JSON

- Convertng python objects to json and vice versa using **dumps() and loads()**
- Saving the data to json files and vice versa using **dump() and load()**


### Python objects and json

### dumps() and loads()

We can convert lists, tuples, and dictionaries (python objects) to JSON strings and convert JSON strings to lists and dictionaries.

- `json.dumps(python_object)`: converts python objects to json strings

- `json.loads(json_string)`: converts json string to python object

In [42]:
#first import the json file

import json

char = ['Black widow', 'Hawkeye', 'Katiness', 'Iron man']

print(type(char))

<class 'list'>

In [43]:
#converting python object to json string

char_string = json.dumps(char)
print(type(char_string))

<class 'str'>

In [44]:
#converting json string to python objects
char_object = json.loads(char_string)

print(type(char_object))

<class 'list'>

This same concept applies also to dictionaries and tuples.

### Creating, and reading JSON files

### dump() and load()

The json module has two main methods for doing this

- `json.dump(data, file_object)`: writes data into a json file format
- `json.load(file_object)`: for reading a json file

In [13]:
#making a dictionary

fast_food_franchise = {
    'Subway': 24722,
    'McDonalds': 14098,
    'Starbucks': 10821,
    'Pizza Hut': 34599
}

print(type(fast_food_franchise))

<class 'dict'>

In [16]:
#writing the data in  the dictionary to a file

import json

file_name = 'my_fast_food.json'

with open(file_name, 'w') as f:
    json.dump(fast_food_franchise, f)

f = open('my_fast_food.json', 'r')
data = f.read()

print(data)
print(type(data))
f.close()

{"Subway": 24722, "McDonalds": 14098, "Starbucks": 10821, "Pizza Hut": 34599}
<class 'str'>

In [21]:
#reading the data from the json file

file = 'my_fast_food.json'

with open(file, 'r') as f:
    data = json.load(f)

print(data)
print(type(data))

{'Subway': 24722, 'McDonalds': 14098, 'Starbucks': 10821, 'Pizza Hut': 34599}
<class 'dict'>

## Extracting crypto data using Coingecko API

Root_url = "https://api.coingecko.com/api/v3"

This is the link to the public API documentation.

Coingecko was founded in 2014 in order to democratize the access of crypto data and empower users with actionable insights.

API End points:

- Ping: `/ping`
- Coin list: `/coin/list`
- Coin market: `/coins/markets`
- Coin history: `/coins/{id}/history`
- Coin market chart: `coins/{id}/market_chart`

### Endpoint Ping

In [23]:
import requests

root_url = "https://api.coingecko.com/api/v3"
endpoint = "/ping"

response =requests.get(root_url+endpoint)

response.status_code

200

In [24]:
response.headers

{'Date': 'Fri, 10 May 2024 15:24:16 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'x-frame-options': 'SAMEORIGIN', 'x-xss-protection': '0', 'x-content-type-options': 'nosniff', 'x-download-options': 'noopen', 'x-permitted-cross-domain-policies': 'none', 'referrer-policy': 'strict-origin-when-cross-origin', 'access-control-allow-origin': '*', 'access-control-allow-methods': 'POST, PUT, DELETE, GET, OPTIONS', 'access-control-request-method': '*', 'access-control-allow-headers': 'Origin, X-Requested-With, Content-Type, Accept, Authorization', 'access-control-expose-headers': 'link, per-page, total', 'vary': 'Accept-Encoding, Origin', 'etag': 'W/"022914d25dfb20d5b74b93d475480367"', 'Cache-Control': 'max-age=0, private, must-revalidate', 'x-request-id': '6afacbea-bd97-430e-a48d-995ef676b4e8', 'x-runtime': '0.003976', 'alternate-protocol': '443:npn-spdy/2', 'strict-transport-security': 'max-age=15724800; includeSubdomains', 'CF-Cache-Status': 'BYPASS', 'Set-Cookie': '__cf_bm=q8AU1QkXFAOObH8wkOfMs746HPHJNiyUdN2xTGupHBw-1715354656-1.0.1.1-5NsfEBW6lh1v0VpLK70JgZk4EDlHHa8HDxmPD08G1OBnkzLqsZdMOZKAsHx_0K4piC_RWUsq7mg2krEo7CEYcw; path=/; expires=Fri, 10-May-24 15:54:16 GMT; domain=.api.coingecko.com; HttpOnly; Secure; SameSite=None', 'Server': 'cloudflare', 'CF-RAY': '881aef6b18d87725-LHR', 'Content-Encoding': 'br', 'alt-svc': 'h3=":443"; ma=86400'}

In [26]:
print(response.headers['Content-Type'])

print(response.text)

application/json; charset=utf-8
{"gecko_says":"(V3) To the Moon!"}

### Endpoint coin list

Use this to obtain all the coins id in order to make API calls

In [28]:
import requests

endpoint = '/coins/list'

response = requests.get(root_url+endpoint)

response

In [31]:
#to retrieve the coins list

response.json()[:5]

[{'id': '01coin', 'symbol': 'zoc', 'name': '01coin'},
 {'id': '0chain', 'symbol': 'zcn', 'name': 'Zus'},
 {'id': '0-knowledge-network', 'symbol': '0kn', 'name': '0 Knowledge Network'},
 {'id': '0-mee', 'symbol': 'ome', 'name': 'O-MEE'},
 {'id': '0vix-protocol', 'symbol': 'vix', 'name': '0VIX Protocol'}]

In [32]:
#converting to a dataframe

import pandas as pd

data = response.json()

df = pd.DataFrame(data) #You can also use df = pd.read_json(root_url+endpoint)
df.head()

                    id symbol                 name
0               01coin    zoc               01coin
1               0chain    zcn                  Zus
2  0-knowledge-network    0kn  0 Knowledge Network
3                0-mee    ome                O-MEE
4        0vix-protocol    vix        0VIX Protocol

In [33]:
df.shape

(14164, 3)

In [34]:
#to retrieve data for btc, eth and doge coins

df.loc[(df.symbol=='btc') | (df.symbol=='eth') | (df.symbol=='doge')]

,id,symbol,name
1383,batcat,btc,batcat
1580,binance-peg-dogecoin,doge,Binance-Peg Dogecoin
1646,bitcoin,btc,Bitcoin
1762,blackrocktradingcurrency,btc,BlackrockTradingCurrency
2106,bridged-binance-peg-ethereum-opbnb,eth,Bridged Binance-Peg Ethereum (opBNB)
2166,bridged-wrapped-ether-starkgate,eth,Bridged Ether (StarkGate)
3817,dogecoin,doge,Dogecoin
3852,doge-on-pulsechain,doge,Doge on Pulsechain
4463,ethereum,eth,Ethereum
4478,ethereum-wormhole,eth,Ethereum (Wormhole)
6237,immutable-zkevm-bridged-eth,eth,Immutable zkEVM Bridged ETH
8772,nova-eth,eth,Nova Merged ETH (zkLink)
12241,the-infinite-garden,eth,The Infinite Garden

### Endpoint coin markets

Use this to obtain all the coins market data (price, market cap, volume)

In [44]:
import requests

endpoint = '/coins/markets'

parameters = {'vs_currency': 'usd', 'ids':'bitcoin, dogecoin, ethereum'}

response = requests.get(root_url+endpoint, params=parameters)
response

In [45]:
response.json()

[{'id': 'bitcoin',
  'symbol': 'btc',
  'name': 'Bitcoin',
  'image': 'https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1696501400',
  'current_price': 60990,
  'market_cap': 1200655692518,
  'market_cap_rank': 1,
  'fully_diluted_valuation': 1280116095055,
  'total_volume': 27674490307,
  'high_24h': 63458,
  'low_24h': 60890,
  'price_change_24h': -1089.371358712844,
  'price_change_percentage_24h': -1.75479,
  'market_cap_change_24h': -20294801320.598145,
  'market_cap_change_percentage_24h': -1.66221,
  'circulating_supply': 19696471.0,
  'total_supply': 21000000.0,
  'max_supply': 21000000.0,
  'ath': 73738,
  'ath_change_percentage': -17.33993,
  'ath_date': '2024-03-14T07:10:36.635Z',
  'atl': 67.81,
  'atl_change_percentage': 89787.52759,
  'atl_date': '2013-07-06T00:00:00.000Z',
  'roi': None,
  'last_updated': '2024-05-10T15:41:53.824Z'},
 {'id': 'ethereum',
  'symbol': 'eth',
  'name': 'Ethereum',
  'image': 'https://assets.coingecko.com/coins/images/279/large/ethereum.png?1696501628',
  'current_price': 2925.56,
  'market_cap': 351380884466,
  'market_cap_rank': 2,
  'fully_diluted_valuation': 351380884466,
  'total_volume': 11272288058,
  'high_24h': 3058.61,
  'low_24h': 2927.51,
  'price_change_24h': -84.2222678719545,
  'price_change_percentage_24h': -2.79829,
  'market_cap_change_24h': -9633738208.994385,
  'market_cap_change_percentage_24h': -2.66852,
  'circulating_supply': 120107309.986327,
  'total_supply': 120107309.986327,
  'max_supply': None,
  'ath': 4878.26,
  'ath_change_percentage': -40.03879,
  'ath_date': '2021-11-10T14:24:19.604Z',
  'atl': 0.432979,
  'atl_change_percentage': 675467.42706,
  'atl_date': '2015-10-20T00:00:00.000Z',
  'roi': {'times': 63.14904711607027,
   'currency': 'btc',
   'percentage': 6314.904711607027},
  'last_updated': '2024-05-10T15:41:32.509Z'},
 {'id': 'dogecoin',
  'symbol': 'doge',
  'name': 'Dogecoin',
  'image': 'https://assets.coingecko.com/coins/images/5/large/dogecoin.png?1696501409',
  'current_price': 0.145037,
  'market_cap': 20912035222,
  'market_cap_rank': 10,
  'fully_diluted_valuation': 20912114964,
  'total_volume': 1066283107,
  'high_24h': 0.153748,
  'low_24h': 0.144172,
  'price_change_24h': -0.004320041394195423,
  'price_change_percentage_24h': -2.89243,
  'market_cap_change_24h': -600463270.307354,
  'market_cap_change_percentage_24h': -2.79123,
  'circulating_supply': 144234606383.705,
  'total_supply': 144235156383.705,
  'max_supply': None,
  'ath': 0.731578,
  'ath_change_percentage': -80.1856,
  'ath_date': '2021-05-08T05:08:23.458Z',
  'atl': 8.69e-05,
  'atl_change_percentage': 166702.68897,
  'atl_date': '2015-05-06T00:00:00.000Z',
  'roi': None,
  'last_updated': '2024-05-10T15:42:23.036Z'}]

In [46]:
#converting to a dataframe

df = pd.json_normalize(response.json())
df.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated,roi.times,roi.currency,roi.percentage
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,60990.000000,1200655692518,1,1280116095055,27674490307,63458.000000,...,-17.33993,2024-03-14T07:10:36.635Z,67.810000,89787.52759,2013-07-06T00:00:00.000Z,NaN,2024-05-10T15:41:53.824Z,NaN,NaN,NaN
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,2925.560000,351380884466,2,351380884466,11272288058,3058.610000,...,-40.03879,2021-11-10T14:24:19.604Z,0.432979,675467.42706,2015-10-20T00:00:00.000Z,NaN,2024-05-10T15:41:32.509Z,63.149047,btc,6314.904712
2,dogecoin,doge,Dogecoin,https://assets.coingecko.com/coins/images/5/la...,0.145037,20912035222,10,20912114964,1066283107,0.153748,...,-80.18560,2021-05-08T05:08:23.458Z,0.000087,166702.68897,2015-05-06T00:00:00.000Z,NaN,2024-05-10T15:42:23.036Z,NaN,NaN,NaN

### Endpoint coins history

Get historical data (name, price, market, stats) at a given date for a coin

In [49]:
#retrieve today's date
from datetime import date

today = date.today().strftime('%d-%m-%Y')

print('Today: ', today)

Today:  10-05-2024

In [53]:
import requests

uid = 'bitcoin'

root_url = 'https://api.coingecko.com/api/v3'
endpoint = f'/coins/{uid}/history' #don't forget the 'f' string, it is crucial for the {uid} value to be collected
parameter = {'date': today}

response = requests.get(root_url+endpoint, params = parameter)

response

In [54]:
data = response.json()
data

{'id': 'bitcoin',
 'symbol': 'btc',
 'name': 'Bitcoin',
 'localization': {'en': 'Bitcoin',
  'de': 'Bitcoin',
  'es': 'Bitcoin',
  'fr': 'Bitcoin',
  'it': 'Bitcoin',
  'pl': 'Bitcoin',
  'ro': 'Bitcoin',
  'hu': 'Bitcoin',
  'nl': 'Bitcoin',
  'pt': 'Bitcoin',
  'sv': 'Bitcoin',
  'vi': 'Bitcoin',
  'tr': 'Bitcoin',
  'ru': 'Биткоин',
  'ja': 'ビットコイン',
  'zh': '比特币',
  'zh-tw': '比特幣',
  'ko': '비트코인',
  'ar': 'بيتكوين',
  'th': 'บิตคอยน์',
  'id': 'Bitcoin',
  'cs': 'Bitcoin',
  'da': 'Bitcoin',
  'el': 'Bitcoin',
  'hi': 'Bitcoin',
  'no': 'Bitcoin',
  'sk': 'Bitcoin',
  'uk': 'Bitcoin',
  'he': 'Bitcoin',
  'fi': 'Bitcoin',
  'bg': 'Bitcoin',
  'hr': 'Bitcoin',
  'lt': 'Bitcoin',
  'sl': 'Bitcoin'},
 'image': {'thumb': 'https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1696501400',
  'small': 'https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1696501400'},
 'market_data': {'current_price': {'aed': 231944.8075909958,
   'ars': 55729416.177562416,
   'aud': 95405.78887443029,
   'bch': 138.67987229341847,
   'bdt': 6934445.955824399,
   'bhd': 23807.337921547267,
   'bmd': 63148.599943097026,
   'bnb': 105.8682823386594,
   'brl': 324729.0454873876,
   'btc': 1.0,
   'cad': 86368.02439917417,
   'chf': 57210.04245584829,
   'clp': 58470925.87791567,
   'cny': 455901.31728918874,
   'czk': 1459875.6483445093,
   'dkk': 436893.5887063172,
   'dot': 8953.5642279026,
   'eos': 77139.69693414187,
   'eth': 20.781313576844177,
   'eur': 58566.91642282563,
   'gbp': 50415.44254777089,
   'gel': 168922.5048477846,
   'hkd': 493446.6331283574,
   'huf': 22724692.43319692,
   'idr': 1012720693.0324178,
   'ils': 235490.28573480024,
   'inr': 5269904.621538106,
   'jpy': 9810671.76425964,
   'krw': 86120900.18372321,
   'kwd': 19417.75244230275,
   'lkr': 18864680.143324953,
   'ltc': 760.0753704537204,
   'mmk': 132637441.26042715,
   'mxn': 1060451.5971574318,
   'myr': 299439.294182177,
   'ngn': 89272680.02304676,
   'nok': 684993.8289179545,
   'nzd': 104602.62467294271,
   'php': 3620088.656678152,
   'pkr': 17588323.54611066,
   'pln': 251040.06013338867,
   'rub': 5844388.084812642,
   'sar': 236832.06718639194,
   'sek': 684875.4884416612,
   'sgd': 85402.16656304445,
   'thb': 2318279.82681101,
   'try': 2038929.238945527,
   'twd': 2043097.0465417693,
   'uah': 2489746.3361561047,
   'usd': 63148.599943097026,
   'vef': 6323.06931230231,
   'vnd': 1606834708.1643093,
   'xag': 2228.0688943622995,
   'xau': 26.91393329574792,
   'xdr': 47800.08013252753,
   'xlm': 582521.0043309521,
   'xrp': 121148.02769217797,
   'yfi': 8.95922749630902,
   'zar': 1166102.0465492345,
   'bits': 1000823.4699514171,
   'link': 4431.707944790866,
   'sats': 100082346.99514171},
  'market_cap': {'aed': 4557864968974.565,
   'ars': 1095118948232828.6,
   'aud': 1874785245095.6577,
   'bch': 2728693157.8286767,
   'bdt': 136266332622685.77,
   'bhd': 467829535156.0733,
   'bmd': 1240910691253.6274,
   'bnb': 2082995275.9642086,
   'brl': 6381135047633.523,
   'btc': 19696162.0,
   'cad': 1697187347874.13,
   'chf': 1124214208937.4456,
   'clp': 1148991380882315.2,
   'cny': 8958754735505.555,
   'czk': 28687497451470.562,
   'dkk': 8585240617438.223,
   'dot': 176132718204.08722,
   'eos': 1516839777752.9211,
   'eth': 409116802.19532275,
   'eur': 1150877656960.4106,
   'gbp': 990695941290.6277,
   'gel': 3319436099103.451,
   'hkd': 9696544391543.861,
   'huf': 446554853491837.75,
   'idr': 19900614366274204,
   'ils': 4627535899735.016,
   'inr': 103557022525380.53,
   'jpy': 192786023627126.56,
   'krw': 1692331197756833.5,
   'kwd': 381571351185.6523,
   'lkr': 370703124028498.25,
   'ltc': 14947024053.67406,
   'mmk': 2606411212107659,
   'mxn': 20838557397240.96,
   'myr': 5884175134000.271,
   'ngn': 1754265703076326.2,
   'nok': 13460570250377.59,
   'nzd': 2055508996348.4565,
   'php': 71137075428525.81,
   'pkr': 345621894218770.5,
   'pln': 4933098989260.0,
   'rub': 114845992861510.73,
   'sar': 4653902770102.761,
   'sek': 13458244783742.188,
   'sgd': 1678207618851.4062,
   'thb': 45555692841957.59,
   'try': 40066273735237.43,
   'twd': 40148173840860.17,
   'uah': 48925120269168.75,
   'usd': 1240910691253.6274,
   'vef': 124252387515.22575,
   'vnd': 31575337699255750,
   'xag': 43782989873.96721,
   'xau': 528876136.6122969,
   'xdr': 939302384101.6675,
   'xlm': 11472577900848.25,
   'xrp': 2382990287810.876,
   'yfi': 176149388.55278042,
   'zar': 22914656824689.41,
   'bits': 19702318377690.137,
   'link': 87233957642.92554,
   'sats': 1970231837769011.8},
  'total_volume': {'aed': 94901961161.25288,
   'ars': 22802109452471.492,
   'aud': 39035995521.33869,
   'bch': 56741911.970045865,
   'bdt': 2837280677284.7188,
   'bhd': 9740951229.947739,
   'bmd': 25837724247.550426,
   'bnb': 43316803.35103153,
   'brl': 132865329398.17845,
   'btc': 409494.444221768,
   'cad': 35338126264.75352,
   'chf': 23407918821.58656,
   'clp': 23923818749645.785,
   'cny': 186535450205.19022,
   'czk': 597319092927.2947,
   'dkk': 178758295206.6778,
   'dot': 3663418092.5901527,
   'eos': 31562286728.7629,
   'eth': 8502830.627824085,
   'eur': 23963094002.49368,
   'gbp': 20627857205.722878,
   'gel': 69115912362.19742,
   'hkd': 201897398345.1928,
   'huf': 9297978691980.826,
   'idr': 414362282456590.0,
   'ils': 96352620189.13132,
   'inr': 2156221080829.798,
   'jpy': 4014110082513.063,
   'krw': 35237013534788.516,
   'kwd': 7944919342.05203,
   'lkr': 7718625654419.622,
   'ltc': 310990550.0174866,
   'mmk': 54269605902200.3,
   'mxn': 433891740591.5235,
   'myr': 122517837591.51982,
   'ngn': 36526587942626.72,
   'nok': 280270373037.62964,
   'nzd': 42798950005.3033,
   'php': 1481186479941.2695,
   'pkr': 7196394760463.442,
   'pln': 102714927245.57248,
   'rub': 2391275307245.5938,
   'sar': 96901620153.94357,
   'sek': 280221953142.3898,
   'sgd': 34942938272.387215,
   'thb': 948541613713.9491,
   'try': 834243221284.6096,
   'twd': 835948511084.9471,
   'uah': 1018698424635.1842,
   'usd': 25837724247.550426,
   'vef': 2587131328.907226,
   'vnd': 657448496694358.5,
   'xag': 911631132.7401111,
   'xau': 11012038.07430598,
   'xdr': 19557762018.28631,
   'xlm': 238342846743.58075,
   'xrp': 49568625994.332405,
   'yfi': 3665735.2614198155,
   'zar': 477119415955.2681,
   'bits': 409494444221.768,
   'link': 1813266611.237068,
   'sats': 40949444422176.8}},
 'community_data': {'facebook_likes': None,
  'twitter_followers': None,
  'reddit_average_posts_48h': 0.0,
  'reddit_average_comments_48h': 0.0,
  'reddit_subscribers': None,
  'reddit_accounts_active_48h': None},
 'developer_data': {'forks': None,
  'stars': None,
  'subscribers': None,
  'total_issues': None,
  'closed_issues': None,
  'pull_requests_merged': None,
  'pull_request_contributors': None,
  'code_additions_deletions_4_weeks': {'additions': None, 'deletions': None},
  'commit_count_4_weeks': None},
 'public_interest_stats': {'alexa_rank': None, 'bing_matches': None}}

In [56]:
#storing the data in a dataframe

url = f'https://api.coingecko.com/api/v3/coins/bitcoin/history?date={today}'

df = pd.read_json(url)
df.head()

,id,symbol,name,localization,image,market_data,community_data,developer_data,public_interest_stats
en,bitcoin,btc,Bitcoin,Bitcoin,NaN,NaN,NaN,NaN,NaN
de,bitcoin,btc,Bitcoin,Bitcoin,NaN,NaN,NaN,NaN,NaN
es,bitcoin,btc,Bitcoin,Bitcoin,NaN,NaN,NaN,NaN,NaN
fr,bitcoin,btc,Bitcoin,Bitcoin,NaN,NaN,NaN,NaN,NaN
it,bitcoin,btc,Bitcoin,Bitcoin,NaN,NaN,NaN,NaN,NaN

**The output is not as expected wheen we compare this dataframe with the dictioanry form output in the code block above. Let's fix this.**

In [57]:
#saving the data in a json file
file_name = f'bitcoin_history_{today}.json'

with open(file_name, 'w') as f:
    json.dump(data, f)

In [58]:
#lets have a look at the the keys of our data

data.keys()

dict_keys(['id', 'symbol', 'name', 'localization', 'image', 'market_data', 'community_data', 'developer_data', 'public_interest_stats'])

In [59]:
#retrieving market data

market_data = data['market_data']
print(market_data)

{'current_price': {'aed': 231944.8075909958, 'ars': 55729416.177562416, 'aud': 95405.78887443029, 'bch': 138.67987229341847, 'bdt': 6934445.955824399, 'bhd': 23807.337921547267, 'bmd': 63148.599943097026, 'bnb': 105.8682823386594, 'brl': 324729.0454873876, 'btc': 1.0, 'cad': 86368.02439917417, 'chf': 57210.04245584829, 'clp': 58470925.87791567, 'cny': 455901.31728918874, 'czk': 1459875.6483445093, 'dkk': 436893.5887063172, 'dot': 8953.5642279026, 'eos': 77139.69693414187, 'eth': 20.781313576844177, 'eur': 58566.91642282563, 'gbp': 50415.44254777089, 'gel': 168922.5048477846, 'hkd': 493446.6331283574, 'huf': 22724692.43319692, 'idr': 1012720693.0324178, 'ils': 235490.28573480024, 'inr': 5269904.621538106, 'jpy': 9810671.76425964, 'krw': 86120900.18372321, 'kwd': 19417.75244230275, 'lkr': 18864680.143324953, 'ltc': 760.0753704537204, 'mmk': 132637441.26042715, 'mxn': 1060451.5971574318, 'myr': 299439.294182177, 'ngn': 89272680.02304676, 'nok': 684993.8289179545, 'nzd': 104602.62467294271, 'php': 3620088.656678152, 'pkr': 17588323.54611066, 'pln': 251040.06013338867, 'rub': 5844388.084812642, 'sar': 236832.06718639194, 'sek': 684875.4884416612, 'sgd': 85402.16656304445, 'thb': 2318279.82681101, 'try': 2038929.238945527, 'twd': 2043097.0465417693, 'uah': 2489746.3361561047, 'usd': 63148.599943097026, 'vef': 6323.06931230231, 'vnd': 1606834708.1643093, 'xag': 2228.0688943622995, 'xau': 26.91393329574792, 'xdr': 47800.08013252753, 'xlm': 582521.0043309521, 'xrp': 121148.02769217797, 'yfi': 8.95922749630902, 'zar': 1166102.0465492345, 'bits': 1000823.4699514171, 'link': 4431.707944790866, 'sats': 100082346.99514171}, 'market_cap': {'aed': 4557864968974.565, 'ars': 1095118948232828.6, 'aud': 1874785245095.6577, 'bch': 2728693157.8286767, 'bdt': 136266332622685.77, 'bhd': 467829535156.0733, 'bmd': 1240910691253.6274, 'bnb': 2082995275.9642086, 'brl': 6381135047633.523, 'btc': 19696162.0, 'cad': 1697187347874.13, 'chf': 1124214208937.4456, 'clp': 1148991380882315.2, 'cny': 8958754735505.555, 'czk': 28687497451470.562, 'dkk': 8585240617438.223, 'dot': 176132718204.08722, 'eos': 1516839777752.9211, 'eth': 409116802.19532275, 'eur': 1150877656960.4106, 'gbp': 990695941290.6277, 'gel': 3319436099103.451, 'hkd': 9696544391543.861, 'huf': 446554853491837.75, 'idr': 19900614366274204, 'ils': 4627535899735.016, 'inr': 103557022525380.53, 'jpy': 192786023627126.56, 'krw': 1692331197756833.5, 'kwd': 381571351185.6523, 'lkr': 370703124028498.25, 'ltc': 14947024053.67406, 'mmk': 2606411212107659, 'mxn': 20838557397240.96, 'myr': 5884175134000.271, 'ngn': 1754265703076326.2, 'nok': 13460570250377.59, 'nzd': 2055508996348.4565, 'php': 71137075428525.81, 'pkr': 345621894218770.5, 'pln': 4933098989260.0, 'rub': 114845992861510.73, 'sar': 4653902770102.761, 'sek': 13458244783742.188, 'sgd': 1678207618851.4062, 'thb': 45555692841957.59, 'try': 40066273735237.43, 'twd': 40148173840860.17, 'uah': 48925120269168.75, 'usd': 1240910691253.6274, 'vef': 124252387515.22575, 'vnd': 31575337699255750, 'xag': 43782989873.96721, 'xau': 528876136.6122969, 'xdr': 939302384101.6675, 'xlm': 11472577900848.25, 'xrp': 2382990287810.876, 'yfi': 176149388.55278042, 'zar': 22914656824689.41, 'bits': 19702318377690.137, 'link': 87233957642.92554, 'sats': 1970231837769011.8}, 'total_volume': {'aed': 94901961161.25288, 'ars': 22802109452471.492, 'aud': 39035995521.33869, 'bch': 56741911.970045865, 'bdt': 2837280677284.7188, 'bhd': 9740951229.947739, 'bmd': 25837724247.550426, 'bnb': 43316803.35103153, 'brl': 132865329398.17845, 'btc': 409494.444221768, 'cad': 35338126264.75352, 'chf': 23407918821.58656, 'clp': 23923818749645.785, 'cny': 186535450205.19022, 'czk': 597319092927.2947, 'dkk': 178758295206.6778, 'dot': 3663418092.5901527, 'eos': 31562286728.7629, 'eth': 8502830.627824085, 'eur': 23963094002.49368, 'gbp': 20627857205.722878, 'gel': 69115912362.19742, 'hkd': 201897398345.1928, 'huf': 9297978691980.826, 'idr': 414362282456590.0, 'ils': 96352620189.13132, 'inr': 2156221080829.798, 'jpy': 4014110082513.063, 'krw': 35237013534788.516, 'kwd': 7944919342.05203, 'lkr': 7718625654419.622, 'ltc': 310990550.0174866, 'mmk': 54269605902200.3, 'mxn': 433891740591.5235, 'myr': 122517837591.51982, 'ngn': 36526587942626.72, 'nok': 280270373037.62964, 'nzd': 42798950005.3033, 'php': 1481186479941.2695, 'pkr': 7196394760463.442, 'pln': 102714927245.57248, 'rub': 2391275307245.5938, 'sar': 96901620153.94357, 'sek': 280221953142.3898, 'sgd': 34942938272.387215, 'thb': 948541613713.9491, 'try': 834243221284.6096, 'twd': 835948511084.9471, 'uah': 1018698424635.1842, 'usd': 25837724247.550426, 'vef': 2587131328.907226, 'vnd': 657448496694358.5, 'xag': 911631132.7401111, 'xau': 11012038.07430598, 'xdr': 19557762018.28631, 'xlm': 238342846743.58075, 'xrp': 49568625994.332405, 'yfi': 3665735.2614198155, 'zar': 477119415955.2681, 'bits': 409494444221.768, 'link': 1813266611.237068, 'sats': 40949444422176.8}}

In [60]:
df = pd.DataFrame(market_data)
df.head()

     current_price    market_cap  total_volume
aed   2.319448e+05  4.557865e+12  9.490196e+10
ars   5.572942e+07  1.095119e+15  2.280211e+13
aud   9.540579e+04  1.874785e+12  3.903600e+10
bch   1.386799e+02  2.728693e+09  5.674191e+07
bdt   6.934446e+06  1.362663e+14  2.837281e+12

In [61]:
df.shape

(62, 3)

In [72]:
#to change the indexing of the data

df = df.reset_index()
df.head()

  index  current_price    market_cap  total_volume
0   aed   2.319448e+05  4.557865e+12  9.490196e+10
1   ars   5.572942e+07  1.095119e+15  2.280211e+13
2   aud   9.540579e+04  1.874785e+12  3.903600e+10
3   bch   1.386799e+02  2.728693e+09  5.674191e+07
4   bdt   6.934446e+06  1.362663e+14  2.837281e+12

In [73]:
#renaming the index column
df = df.rename(columns={'index': 'symbol'})
df.head()

  symbol  current_price    market_cap  total_volume
0    aed   2.319448e+05  4.557865e+12  9.490196e+10
1    ars   5.572942e+07  1.095119e+15  2.280211e+13
2    aud   9.540579e+04  1.874785e+12  3.903600e+10
3    bch   1.386799e+02  2.728693e+09  5.674191e+07
4    bdt   6.934446e+06  1.362663e+14  2.837281e+12

### Endpoint `coins/{id}/market_chart`

Gets historical market data including price, market cap, and 24hour volume(granularity auto)

- Data granularity is automatic (and cannot be adjusted)
- 1 day from current time = 5 minute interval data
- 1-90 days from current time = hourly data
- Above 90 days from current time = dail data (00:00 UTC)

In [74]:
import requests 

uid = 'bitcoin'

root_url = 'https://api.coingecko.com/api/v3'
endpoint = f'/coins/{uid}/market_chart'
parameters = {'vs_currency': 'usd', 'days': '1'}

response = requests.get(root_url+endpoint, params =parameters)
response.status_code

200

In [75]:
response.json()

{'prices': [[1715272244520, 62551.858647265195],
  [1715272568154, 62356.68665826855],
  [1715272863568, 62397.987866653966],
  [1715273159016, 62412.76416880095],
  [1715273397500, 62114.61136883142],
  [1715273797489, 62014.73106993498],
  [1715274090122, 61862.857877488736],
  [1715274331334, 61840.93024544764],
  [1715274716866, 61954.810869332854],
  [1715274942866, 61946.13328148551],
  [1715275231864, 61837.9581117068],
  [1715275538551, 61932.42274598506],
  [1715275859015, 62005.116028776254],
  [1715276147999, 62074.53255704388],
  [1715276477171, 61997.358901172374],
  [1715276731170, 62054.747273868954],
  [1715277086901, 62132.580635877435],
  [1715277328628, 62142.97727464882],
  [1715277695481, 61921.076154647504],
  [1715277996801, 62017.1839233311],
  [1715278359602, 62003.439810781936],
  [1715278523161, 62131.496505755444],
  [1715278874691, 62108.9651982096],
  [1715279168329, 62052.04263135904],
  [1715279407391, 62147.53370198757],
  [1715279750241, 62098.433883506295],
  [1715280087952, 62042.22950605447],
  [1715280354700, 62069.14509965943],
  [1715280647353, 62128.5792557795],
  [1715280908449, 62208.76178243098],
  [1715281210646, 62194.471471387165],
  [1715281588000, 62343.1903400421],
  [1715281827269, 62250.068411892826],
  [1715282116046, 62193.28615856874],
  [1715282450700, 62237.264760624734],
  [1715282784756, 62267.99862895957],
  [1715283115458, 62318.0882774537],
  [1715283325176, 62351.901011829075],
  [1715283623812, 62349.44664461613],
  [1715283995761, 62359.15710812949],
  [1715284296266, 62335.60200605109],
  [1715284516849, 62523.68842966681],
  [1715284910920, 62435.95447004265],
  [1715285221077, 62459.84170279543],
  [1715285485645, 62577.33149848383],
  [1715285701525, 62576.72240089788],
  [1715286040818, 62415.87292497874],
  [1715286356943, 62451.26068161565],
  [1715286722444, 62418.67869528322],
  [1715286917940, 62420.69492298305],
  [1715287211575, 62528.943598532125],
  [1715287581812, 62514.31940745626],
  [1715287814386, 62493.7163240159],
  [1715288162887, 62560.325387968725],
  [1715288479366, 62637.36181836728],
  [1715288771494, 62735.822315429024],
  [1715289044517, 62806.90318089138],
  [1715289354355, 62748.5351292172],
  [1715289597101, 62583.73520213623],
  [1715289993867, 62558.24679060813],
  [1715290317565, 62539.03202803817],
  [1715290602299, 62496.22137608847],
  [1715290855009, 62479.1791655607],
  [1715291152955, 62476.75405626751],
  [1715291473684, 62510.345668868555],
  [1715291717076, 62458.70251145119],
  [1715292070310, 62521.57396629488],
  [1715292291998, 62535.44613183426],
  [1715292645600, 62561.20118221926],
  [1715292929776, 62621.053074001255],
  [1715293250168, 62631.960737710724],
  [1715293553965, 62656.88706730616],
  [1715293823825, 62747.656902066214],
  [1715294142786, 62682.439315573305],
  [1715294433398, 62902.57945872042],
  [1715294697852, 62935.81448343527],
  [1715295058868, 63200.42162941282],
  [1715295347772, 63336.8790430096],
  [1715295635651, 63284.33092095749],
  [1715295924875, 63206.75826606127],
  [1715296192220, 63195.34622509668],
  [1715296560791, 63084.18087830407],
  [1715296958419, 62967.190062839894],
  [1715297174484, 62905.10040844845],
  [1715297432395, 62964.136188948694],
  [1715297792787, 62962.20815177924],
  [1715298150660, 62886.33200914069],
  [1715298378168, 62896.60667363171],
  [1715298663061, 63002.66474522434],
  [1715298945481, 63148.599943097026],
  [1715299235594, 63065.330986404886],
  [1715299589459, 62948.095378945436],
  [1715299885930, 62994.712537575135],
  [1715300170618, 62932.09021764017],
  [1715300489249, 62836.98456289551],
  [1715300759254, 62867.56252459818],
  [1715301044016, 62881.36094741779],
  [1715301339894, 62860.059363424734],
  [1715301690573, 62773.47414142513],
  [1715301928447, 62766.708729985075],
  [1715302251283, 62785.115156368025],
  [1715302570330, 62765.838404856026],
  [1715302817014, 62825.74927172495],
  [1715303204534, 62899.16067795559],
  [1715303547352, 62773.68903273719],
  [1715303756941, 62695.91693219517],
  [1715304029885, 62730.64808823251],
  [1715304352204, 62759.42132317304],
  [1715304635021, 62815.31356252902],
  [1715304987997, 62869.06413814241],
  [1715305211010, 62903.62548618815],
  [1715305522874, 62760.467968263605],
  [1715305888053, 62797.44041381072],
  [1715306128882, 62891.46111384801],
  [1715306486965, 62862.0223137235],
  [1715306714966, 62824.69871022497],
  [1715307047574, 62850.89216785535],
  [1715307327684, 62776.48927219954],
  [1715307632665, 62803.09845328467],
  [1715307915912, 62835.77188665338],
  [1715308212199, 62878.9727176728],
  [1715308545304, 62914.37606280409],
  [1715308846495, 62935.98695607196],
  [1715309110792, 62976.48428319008],
  [1715309409807, 62973.442737897196],
  [1715309781704, 62872.272626042315],
  [1715310038540, 62892.17344649172],
  [1715310331710, 62808.871403316174],
  [1715310762271, 62862.862711663714],
  [1715310901355, 62853.21091641443],
  [1715311233149, 62838.01684543269],
  [1715311531039, 62878.458254830955],
  [1715311826230, 62903.98868535747],
  [1715312186568, 62882.34942582378],
  [1715312432472, 62897.286915761484],
  [1715312736922, 62829.03310781214],
  [1715313087054, 62859.72949176767],
  [1715313338101, 62890.676786722936],
  [1715313650682, 62907.68861001764],
  [1715313973481, 62940.269660969374],
  [1715314286779, 62818.497166277986],
  [1715314559553, 62863.37688644721],
  [1715314812449, 62880.161655160395],
  [1715315140160, 62957.101099987725],
  [1715315434391, 62986.44672529807],
  [1715315745099, 62940.533628213925],
  [1715316068595, 62974.63740674977],
  [1715316351491, 62851.96362033061],
  [1715316651945, 62888.57566355495],
  [1715316934053, 62851.941711298095],
  [1715317265730, 62935.87228780579],
  [1715317551007, 62930.38710325726],
  [1715317840682, 62903.33355274366],
  [1715318146375, 62786.13955325661],
  [1715318426844, 62792.652560334616],
  [1715318725517, 62731.6768503876],
  [1715319022689, 62691.68992553617],
  [1715319313056, 62712.33540544271],
  [1715319608475, 62769.03600229796],
  [1715319895297, 62734.757084831996],
  [1715320212683, 62773.98588385681],
  [1715320579563, 62791.098057306066],
  [1715320807390, 62765.372901150324],
  [1715321199992, 62823.060172256475],
  [1715321435583, 62852.367499508095],
  [1715321721584, 62887.2192391118],
  [1715322017216, 62907.73135225202],
  [1715322360687, 62874.53240942611],
  [1715322682160, 62853.82909390278],
  [1715322977093, 62851.861195904574],
  [1715323220146, 62886.71695711009],
  [1715323515747, 62920.13365087508],
  [1715323877014, 63000.604033676515],
  [1715324117888, 63169.249180839],
  [1715324433755, 63166.66640113653],
  [1715324771207, 63280.46725060436],
  [1715325045981, 63091.364185384016],
  [1715325380706, 63042.88952191294],
  [1715325667812, 63388.282243831],
  [1715325955858, 63315.18712578898],
  [1715326207986, 63243.80870567644],
  [1715326561922, 63188.64911676708],
  [1715326846122, 63174.10035541867],
  [1715327149507, 63213.42730398352],
  [1715327454308, 63122.8705035381],
  [1715327753261, 63132.962960801844],
  [1715328095122, 63067.154889866055],
  [1715328328606, 63091.195516268504],
  [1715328664031, 62957.043979205926],
  [1715328911327, 62912.98236343747],
  [1715329271301, 62959.877320614316],
  [1715329592696, 62950.402103617744],
  [1715329877711, 62962.85317392095],
  [1715330145821, 63007.05591750409],
  [1715330481918, 62980.551013135],
  [1715330731390, 62911.2785008299],
  [1715331039239, 62890.01954359345],
  [1715331369810, 62955.5678485356],
  [1715331633987, 63002.42977884493],
  [1715331949993, 62983.86611888764],
  [1715332232875, 62869.8542112511],
  [1715332523981, 62856.078273581195],
  [1715332841154, 62874.63169090575],
  [1715333141660, 62905.37799025115],
  [1715333424496, 62893.773306351104],
  [1715333775355, 62987.559445658335],
  [1715334003420, 62996.727959551754],
  [1715334319954, 63122.200544251595],
  [1715334664461, 63093.41020336483],
  [1715334928354, 63074.16989922966],
  [1715335241985, 63108.84878589338],
  [1715335536294, 63048.872990814845],
  [1715335842203, 62972.306234316624],
  [1715336169788, 62902.90695295564],
  [1715336415977, 62963.17590138563],
  [1715336708745, 62968.723457861095],
  [1715337021970, 63067.75755989787],
  [1715337397449, 63068.097194505965],
  [1715337662887, 62992.16103229514],
  [1715337909006, 62985.57506360938],
  [1715338269092, 62999.06027511519],
  [1715338507628, 63032.95518950069],
  [1715338822584, 62982.420940170116],
  [1715339134395, 62973.84068539599],
  [1715339471777, 62924.849207024265],
  [1715339737267, 62925.19209659254],
  [1715339985740, 62837.385700859464],
  [1715340357949, 63014.115170827805],
  [1715340641250, 63025.99400811594],
  [1715340918322, 63025.02155982989],
  [1715341208248, 63001.13311257384],
  [1715341583536, 63043.84216123178],
  [1715341889936, 63179.41195993068],
  [1715342126484, 63217.34889288338],
  [1715342427618, 63293.98021126339],
  [1715342800438, 63457.872231789],
  [1715343069035, 63184.06906029986],
  [1715343371743, 63247.27661447365],
  [1715343687996, 63193.69085531481],
  [1715343987590, 63113.16775836939],
  [1715344354901, 63261.1834956627],
  [1715344582188, 63244.91084684069],
  [1715344864543, 63225.35575054233],
  [1715345194129, 63175.5811610464],
  [1715345417484, 63066.405566060486],
  [1715345709602, 63015.07042229941],
  [1715346022406, 63000.2169478931],
  [1715346309519, 62945.137831905486],
  [1715346701183, 62951.533719662206],
  [1715346911919, 62998.01383110702],
  [1715347298310, 62933.17150190002],
  [1715347601083, 62900.133772493864],
  [1715347831008, 62840.17059782241],
  [1715348106050, 62940.096515870304],
  [1715348467086, 62925.19807993594],
  [1715348748876, 62936.145518798134],
  [1715349063717, 63106.15797036306],
  [1715349325982, 63077.50710617616],
  [1715349599170, 63024.01768513588],
  [1715349942159, 62813.07621690057],
  [1715350284560, 62763.8689960608],
  [1715350521283, 62616.193954433445],
  [1715350850382, 62427.03529627991],
  [1715351169436, 62383.807780857605],
  [1715351423564, 62356.46524070852],
  [1715351762665, 62061.50056800378],
  [1715352040542, 61811.91118963593],
  [1715352339003, 61749.789826521606],
  [1715352684772, 61460.064213277015],
  [1715352976711, 60890.03579877327],
  [1715353231661, 61168.27535404197],
  [1715353562471, 61116.348439164976],
  [1715353828405, 60900.196151763834],
  [1715354145776, 60900.77013855948],
  [1715354413307, 61036.33624165944],
  [1715354798221, 61163.74427882918],
  [1715355008724, 61130.84952076065],
  [1715355309276, 61258.30369508449],
  [1715355652467, 60957.909288321214],
  [1715355947821, 60917.612414227384],
  [1715356292816, 60812.33316370649],
  [1715356579032, 60859.81609173645],
  [1715356878484, 60904.102201790425],
  [1715357200544, 60704.73026734766],
  [1715357499125, 60972.97614513541],
  [1715357743095, 61096.79504544093],
  [1715358068338, 61181.72634802946],
  [1715358332063, 61083.65614914645],
  [1715358639000, 60909.24532267954]],
 'market_caps': [[1715272244520, 1232022158538.839],
  [1715272568154, 1232022158538.839],
  [1715272863568, 1232022158538.839],
  [1715273159016, 1228991517797.471],
  [1715273397500, 1228991517797.471],
  [1715273797489, 1223948458666.2883],
  [1715274090122, 1219302249810.1377],
  [1715274331334, 1219302249810.1377],
  [1715274716866, 1219976920784.7903],
  [1715274942866, 1219976920784.7903],
  [1715275231864, 1217962154431.0042],
  [1715275538551, 1217962154431.0042],
  [1715275859015, 1221255059492.07],
  [1715276147999, 1221255059492.07],
  [1715276477171, 1221255059492.07],
  [1715276731170, 1221102274819.7703],
  [1715277086901, 1224422441380.6946],
  [1715277328628, 1224422441380.6946],
  [1715277695481, 1224422441380.6946],
  [1715277996801, 1224422441380.6946],
  [1715278359602, 1221814840723.6182],
  [1715278523161, 1223595009158.5063],
  [1715278874691, 1223649829428.8782],
  [1715279168329, 1223649829428.8782],
  [1715279407391, 1223649829428.8782],
  [1715279750241, 1223826996605.2131],
  [1715280087952, 1221969990732.8755],
  [1715280354700, 1221969990732.8755],
  [1715280647353, 1221969990732.8755],
  [1715280908449, 1223687789836.5337],
  [1715281210646, 1224985606407.4297],
  [1715281588000, 1224985606407.4297],
  [1715281827269, 1226081020194.6775],
  [1715282116046, 1226081020194.6775],
  [1715282450700, 1226081020194.6775],
  [1715282784756, 1225828838723.8855],
  [1715283115458, 1227021306083.5525],
  [1715283325176, 1227021306083.5525],
  [1715283623812, 1227021306083.5525],
  [1715283995761, 1227736203332.5867],
  [1715284296266, 1227446123222.5068],
  [1715284516849, 1227446123222.5068],
  [1715284910920, 1229356899038.8293],
  [1715285221077, 1229356899038.8293],
  [1715285485645, 1232288254111.3362],
  [1715285701525, 1232288254111.3362],
  [1715286040818, 1232288254111.3362],
  [1715286356943, 1229252170203.979],
  [1715286722444, 1230066650281.9106],
  [1715286917940, 1230066650281.9106],
  [1715287211575, 1230066650281.9106],
  [1715287581812, 1231575325547.9512],
  [1715287814386, 1231575325547.9512],
  [1715288162887, 1230881486189.9883],
  [1715288479366, 1233978873464.4592],
  [1715288771494, 1233978873464.4592],
  [1715289044517, 1236329905932.7354],
  [1715289354355, 1236329905932.7354],
  [1715289597101, 1236329905932.7354],
  [1715289993867, 1232307410608.9988],
  [1715290317565, 1231678466567.293],
  [1715290602299, 1231678466567.293],
  [1715290855009, 1230868389894.067],
  [1715291152955, 1230868389894.067],
  [1715291473684, 1231191051314.5564],
  [1715291717076, 1231191051314.5564],
  [1715292070310, 1231627182794.049],
  [1715292291998, 1231627182794.049],
  [1715292645600, 1232212237655.9194],
  [1715292929776, 1232212237655.9194],
  [1715293250168, 1232212237655.9194],
  [1715293553965, 1233605925573.6707],
  [1715293823825, 1235885254566.6106],
  [1715294142786, 1235885254566.6106],
  [1715294433398, 1238936627523.3335],
  [1715294697852, 1238936627523.3335],
  [1715295058868, 1244515226847.7786],
  [1715295347772, 1244515226847.7786],
  [1715295635651, 1244515226847.7786],
  [1715295924875, 1246456472066.5293],
  [1715296192220, 1246456472066.5293],
  [1715296560791, 1243305555830.6655],
  [1715296958419, 1239818198936.1575],
  [1715297174484, 1239818198936.1575],
  [1715297432395, 1240150819141.417],
  [1715297792787, 1240150819141.417],
  [1715298150660, 1238461272926.1643],
  [1715298378168, 1238461272926.1643],
  [1715298663061, 1240910691253.6274],
  [1715298945481, 1240910691253.6274],
  [1715299235594, 1240910691253.6274],
  [1715299589459, 1240910691253.6274],
  [1715299885930, 1239533932329.3013],
  [1715300170618, 1239868823280.176],
  [1715300489249, 1238080622795.7854],
  [1715300759254, 1238080622795.7854],
  [1715301044016, 1238522478102.5894],
  [1715301339894, 1238522478102.5894],
  [1715301690573, 1236399512365.8486],
  [1715301928447, 1236399512365.8486],
  [1715302251283, 1236626803870.3225],
  [1715302570330, 1236626803870.3225],
  [1715302817014, 1236626803870.3225],
  [1715303204534, 1237442188098.179],
  [1715303547352, 1236769329744.053],
  [1715303756941, 1236769329744.053],
  [1715304029885, 1236769329744.053],
  [1715304352204, 1235568288773.9414],
  [1715304635021, 1237223167436.2249],
  [1715304987997, 1237223167436.2249],
  [1715305211010, 1237223167436.2249],
  [1715305522874, 1238925802632.0151],
  [1715305888053, 1236549484671.2],
  [1715306128882, 1236549484671.2],
  [1715306486965, 1238143341067.6946],
  [1715306714966, 1238143341067.6946],
  [1715307047574, 1237924307974.542],
  [1715307327684, 1237924307974.542],
  [1715307632665, 1237924307974.542],
  [1715307915912, 1237052907393.6245],
  [1715308212199, 1237052907393.6245],
  [1715308545304, 1238477388352.5815],
  [1715308846495, 1239600352708.0671],
  [1715309110792, 1239600352708.0671],
  [1715309409807, 1239600352708.0671],
  [1715309781704, 1240202823830.564],
  [1715310038540, 1238737770019.3918],
  [1715310331710, 1238737770019.3918],
  [1715310762271, 1237976877844.2153],
  [1715310901355, 1237976877844.2153],
  [1715311233149, 1237976877844.2153],
  [1715311531039, 1237671089961.264],
  [1715311826230, 1237671089961.264],
  [1715312186568, 1238881138438.5269],
  [1715312432472, 1238838486009.525],
  [1715312736922, 1238838486009.525],
  [1715313087054, 1237992021192.6282],
  [1715313338101, 1237992021192.6282],
  [1715313650682, 1239043737462.0903],
  [1715313973481, 1239043737462.0903],
  [1715314286779, 1238990206336.3545],
  [1715314559553, 1238990206336.3545],
  [1715314812449, 1238990206336.3545],
  [1715315140160, 1238657728056.3828],
  [1715315434391, 1240595982489.3447],
  [1715315745099, 1240595982489.3447],
  [1715316068595, 1240469667817.6367],
  [1715316351491, 1240469667817.6367],
  [1715316651945, 1240469667817.6367],
  [1715316934053, 1238668856858.9915],
  [1715317265730, 1239633724508.7715],
  [1715317551007, 1239633724508.7715],
  [1715317840682, 1238959972198.228],
  [1715318146375, 1238959972198.228],
  [1715318426844, 1236779971369.4485],
  [1715318725517, 1236779971369.4485],
  [1715319022689, 1234791761921.051],
  [1715319313056, 1234791761921.051],
  [1715319608475, 1234791761921.051],
  [1715319895297, 1236375815547.7114],
  [1715320212683, 1236375815547.7114],
  [1715320579563, 1236412684430.7876],
  [1715320807390, 1236412684430.7876],
  [1715321199992, 1236412684430.7876],
  [1715321435583, 1237737698889.2688],
  [1715321721584, 1237737698889.2688],
  [1715322017216, 1237737698889.2688],
  [1715322360687, 1239023603878.1165],
  [1715322682160, 1238078329837.8596],
  [1715322977093, 1238078329837.8596],
  [1715323220146, 1238078329837.8596],
  [1715323515747, 1238634637014.8562],
  [1715323877014, 1240400797009.829],
  [1715324117888, 1240400797009.829],
  [1715324433755, 1240400797009.829],
  [1715324771207, 1244149358770.0398],
  [1715325045981, 1242666625678.6719],
  [1715325380706, 1242666625678.6719],
  [1715325667812, 1248676583996.4116],
  [1715325955858, 1248676583996.4116],
  [1715326207986, 1248676583996.4116],
  [1715326561922, 1245669408872.467],
  [1715326846122, 1244296411875.035],
  [1715327149507, 1244296411875.035],
  [1715327454308, 1243287373036.0605],
  [1715327753261, 1243287373036.0605],
  [1715328095122, 1242060800066.1235],
  [1715328328606, 1242060800066.1235],
  [1715328664031, 1242060800066.1235],
  [1715328911327, 1240022776995.997],
  [1715329271301, 1239734682618.1077],
  [1715329592696, 1239734682618.1077],
  [1715329877711, 1240137763483.6262],
  [1715330145821, 1240137763483.6262],
  [1715330481918, 1240682502464.1545],
  [1715330731390, 1240682502464.1545],
  [1715331039239, 1240682502464.1545],
  [1715331369810, 1238703836437.4568],
  [1715331633987, 1238703836437.4568],
  [1715331949993, 1241421619703.5144],
  [1715332232875, 1238306652993.7756],
  [1715332523981, 1238306652993.7756],
  [1715332841154, 1238306652993.7756],
  [1715333141660, 1238400751905.1714],
  [1715333424496, 1238778715269.1482],
  [1715333775355, 1238778715269.1482],
  [1715334003420, 1238778715269.1482],
  [1715334319954, 1240798769396.7036],
  [1715334664461, 1243013699591.0798],
  [1715334928354, 1243013699591.0798],
  [1715335241985, 1243015109743.3093],
  [1715335536294, 1243015109743.3093],
  [1715335842203, 1240325906316.7131],
  [1715336169788, 1240325906316.7131],
  [1715336415977, 1240325906316.7131],
  [1715336708745, 1240146071891.9507],
  [1715337021970, 1240146071891.9507],
  [1715337397449, 1242206581715.3787],
  [1715337662887, 1240774369864.2278],
  [1715337909006, 1240774369864.2278],
  [1715338269092, 1240774369864.2278],
  [1715338507628, 1240854060812.176],
  [1715338822584, 1240526325981.7573],
  [1715339134395, 1240526325981.7573],
  [1715339471777, 1240186881236.0154],
  [1715339737267, 1240186881236.0154],
  [1715339985740, 1240186881236.0154],
  [1715340357949, 1238353747476.9265],
  [1715340641250, 1241385377459.4368],
  [1715340918322, 1241385377459.4368],

In [76]:
data = response.json()
data.keys()

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [77]:
#retrieves the first 5 prices from the data
data['prices'][:5]

[[1715272244520, 62551.858647265195],
 [1715272568154, 62356.68665826855],
 [1715272863568, 62397.987866653966],
 [1715273159016, 62412.76416880095],
 [1715273397500, 62114.61136883142]]

In [78]:
#retrieves the first 5 market caps
data['market_caps'][:5]

[[1715272244520, 1232022158538.839],
 [1715272568154, 1232022158538.839],
 [1715272863568, 1232022158538.839],
 [1715273159016, 1228991517797.471],
 [1715273397500, 1228991517797.471]]

In [80]:
#creating a dataframe

df = pd.DataFrame(data)
df.head()

,prices,market_caps,total_volumes
0,"[1715272244520, 62551.858647265195]","[1715272244520, 1232022158538.839]","[1715272244520, 25463351354.988976]"
1,"[1715272568154, 62356.68665826855]","[1715272568154, 1232022158538.839]","[1715272568154, 26295449119.15045]"
2,"[1715272863568, 62397.987866653966]","[1715272863568, 1232022158538.839]","[1715272863568, 19100263308.444996]"
3,"[1715273159016, 62412.76416880095]","[1715273159016, 1228991517797.471]","[1715273159016, 14091230914.084883]"
4,"[1715273397500, 62114.61136883142]","[1715273397500, 1228991517797.471]","[1715273397500, 26486573377.911514]"

In [81]:
#notice that for each of the columns we have a timestamp attached in each list
#we need to extract this

#to see what it looks like
df['prices'].str[0]

0      1715272244520
1      1715272568154
2      1715272863568
3      1715273159016
4      1715273397500
           ...
284    1715357499125
285    1715357743095
286    1715358068338
287    1715358332063
288    1715358639000
Name: prices, Length: 289, dtype: int64

In [82]:
#adding a timestamp column
#str[0] extracts the first character from each price string in the prices column

df['timestamp'] = df['prices'].str[0]
df.head()

,prices,market_caps,total_volumes,timestamp
0,"[1715272244520, 62551.858647265195]","[1715272244520, 1232022158538.839]","[1715272244520, 25463351354.988976]",1715272244520
1,"[1715272568154, 62356.68665826855]","[1715272568154, 1232022158538.839]","[1715272568154, 26295449119.15045]",1715272568154
2,"[1715272863568, 62397.987866653966]","[1715272863568, 1232022158538.839]","[1715272863568, 19100263308.444996]",1715272863568
3,"[1715273159016, 62412.76416880095]","[1715273159016, 1228991517797.471]","[1715273159016, 14091230914.084883]",1715273159016
4,"[1715273397500, 62114.61136883142]","[1715273397500, 1228991517797.471]","[1715273397500, 26486573377.911514]",1715273397500

In [83]:
#lets further simplify the table

df['prices'] = df['prices'].str[1]
df['market_caps'] = df['market_caps'].str[1]
df['total_volumes'] = df['total_volumes'].str[1]

df.head()

         prices   market_caps  total_volumes      timestamp
0  62551.858647  1.232022e+12   2.546335e+10  1715272244520
1  62356.686658  1.232022e+12   2.629545e+10  1715272568154
2  62397.987867  1.232022e+12   1.910026e+10  1715272863568
3  62412.764169  1.228992e+12   1.409123e+10  1715273159016
4  62114.611369  1.228992e+12   2.648657e+10  1715273397500

In [84]:
#Rearranging the dataframe

df = df[['timestamp', 'prices', 'market_caps', 'total_volumes']]
df

         timestamp        prices   market_caps  total_volumes
0    1715272244520  62551.858647  1.232022e+12   2.546335e+10
1    1715272568154  62356.686658  1.232022e+12   2.629545e+10
2    1715272863568  62397.987867  1.232022e+12   1.910026e+10
3    1715273159016  62412.764169  1.228992e+12   1.409123e+10
4    1715273397500  62114.611369  1.228992e+12   2.648657e+10
..             ...           ...           ...            ...
284  1715357499125  60972.976145  1.194620e+12   2.857475e+10
285  1715357743095  61096.795045  1.194620e+12   2.865068e+10
286  1715358068338  61181.726348  1.205064e+12   2.396410e+10
287  1715358332063  61083.656149  1.205064e+12   2.402189e+10
288  1715358639000  60909.245323  1.199698e+12   2.848301e+10

[289 rows x 4 columns]

In [85]:
#to obtain more information on the the dataframe

df.describe()

          timestamp        prices   market_caps  total_volumes
count  2.890000e+02    289.000000  2.890000e+02   2.890000e+02
mean   1.715315e+12  62639.123016  1.233941e+12   2.461590e+10
std    2.506857e+07    568.282567  1.092167e+10   2.514742e+09
min    1.715272e+12  60704.730267  1.194620e+12   1.265039e+10
25%    1.715294e+12  62458.702511  1.230868e+12   2.396410e+10
50%    1.715315e+12  62853.829094  1.237992e+12   2.553595e+10
75%    1.715337e+12  62973.442738  1.240326e+12   2.614731e+10
max    1.715359e+12  63457.872232  1.248677e+12   2.865068e+10

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      289 non-null    int64
 1   prices         289 non-null    float64
 2   market_caps    289 non-null    float64
 3   total_volumes  289 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 9.2 KB

In [87]:
#the timestamp column is in integer instead of datetime data type
pd.to_datetime(df['timestamp'])

0     1970-01-01 00:28:35.272244520
1     1970-01-01 00:28:35.272568154
2     1970-01-01 00:28:35.272863568
3     1970-01-01 00:28:35.273159016
4     1970-01-01 00:28:35.273397500
                   ...
284   1970-01-01 00:28:35.357499125
285   1970-01-01 00:28:35.357743095
286   1970-01-01 00:28:35.358068338
287   1970-01-01 00:28:35.358332063
288   1970-01-01 00:28:35.358639000
Name: timestamp, Length: 289, dtype: datetime64[ns]

In [88]:
#we can see that the unit for the output is in nano seconds
#converting to microseconds

pd.to_datetime(df['timestamp'], unit = 'ms')

0     2024-05-09 16:30:44.520
1     2024-05-09 16:36:08.154
2     2024-05-09 16:41:03.568
3     2024-05-09 16:45:59.016
4     2024-05-09 16:49:57.500
                ...
284   2024-05-10 16:11:39.125
285   2024-05-10 16:15:43.095
286   2024-05-10 16:21:08.338
287   2024-05-10 16:25:32.063
288   2024-05-10 16:30:39.000
Name: timestamp, Length: 289, dtype: datetime64[ns]

In [89]:
#this is good to go, lets replace the timestamp column

df['timestamp'] = pd.to_datetime(df['timestamp'], unit = 'ms')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      289 non-null    datetime64[ns]
 1   prices         289 non-null    float64
 2   market_caps    289 non-null    float64
 3   total_volumes  289 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 9.2 KB

In [90]:
df.head()

                timestamp        prices   market_caps  total_volumes
0 2024-05-09 16:30:44.520  62551.858647  1.232022e+12   2.546335e+10
1 2024-05-09 16:36:08.154  62356.686658  1.232022e+12   2.629545e+10
2 2024-05-09 16:41:03.568  62397.987867  1.232022e+12   1.910026e+10
3 2024-05-09 16:45:59.016  62412.764169  1.228992e+12   1.409123e+10
4 2024-05-09 16:49:57.500  62114.611369  1.228992e+12   2.648657e+10

In [91]:
df.describe()

             prices   market_caps  total_volumes
count    289.000000  2.890000e+02   2.890000e+02
mean   62639.123016  1.233941e+12   2.461590e+10
std      568.282567  1.092167e+10   2.514742e+09
min    60704.730267  1.194620e+12   1.265039e+10
25%    62458.702511  1.230868e+12   2.396410e+10
50%    62853.829094  1.237992e+12   2.553595e+10
75%    62973.442738  1.240326e+12   2.614731e+10
max    63457.872232  1.248677e+12   2.865068e+10