# Intro to Python

In [1]:
var = input()
print(var)

50
50

In [2]:
print(type(var))

<class 'str'>

In [3]:
var = int(input())
print(type(var))

45
<class 'int'>

## Using placeholder symbols and % for mapping

In [17]:
num = int(input("Please enter a number: "))
print('User has entered %d. Thank you' % num)

# %d serves as a placeholder for a decimal interger
# %s serves as a placeholder for a string
# % is used to map the placeholders to the respective values.

Please enter a number: 50
User has entered 50. Thank you

In [10]:
print(type(num))

<class 'str'>

In [16]:
a = 5
b = 6
c = 'string'

print(a,b,c)
print('%d %d %s' % (a,b,c))

#Note that %d is used to format as decimal or a number
#and %s us used to format as a string

5 6 string
5 6 string

## Using seperator and end function

In [68]:
print("this line won't be displayed")
print('54'*6)

print(5,6,7)

print(5,6,7, sep = ',')
print(1,2,3, sep = '|', end = '##')

this line won't be displayed
545454545454
5 6 7
5,6,7
1|2|3##

In [26]:
print('this is\na multi\tline\nstatement')

this is
a multi	line
statement

## Operators

In [39]:
d = 40
b = 5
c = 3


print('with modulo operator: ', d % c , ' the remainder is returned')
print('with the floor division operator: ', d//c , ' the largest number of times 3 goes into 40 is returned')
print('with exponentiation: ', b**c ,'where 5 is raised to the power of 3, i.e 5 is multiplied 3 times')

with modulo operator:  1  the remainder is returned
with the floor division operator:  13  the largest number of times 3 goes into 40 is returned
with exponentiation:  125 where 5 is raised to the power of 3, i.e 5 is multiplied 3 times

In [33]:
print(type(d))

<class 'int'>

In [40]:
x = 50
x += 5

print(x)

55

## Shift operators

shift the bits of a number to the left(<<) or right(>>) by a specified number of positions

In [41]:
print(10<<1)

20

In [42]:
print(10<<2)

40

In [43]:
print(10<<3)

80

In [44]:
print(10<<4)

160

In [45]:
print(10>>1)
print(10>>2)
print(10>>3)
print(10>>4)

5
2
1
0

In [46]:
w = 5 if (5<6) else 6
y = 15 if (15>6) else 7

print(w, y)

5 15

In [47]:
print(w+y)

20

## Swapping two numbers

In [52]:
#using a temp variable

t =90
g=457

new_var = t

t = g
g = new_var

print(t,g, sep =',')

457,90

## Swapping two numbers without a third number

In [54]:
#using tuple unpacking

a = 34
b =98

a,b = b,a

print(a,b, sep = ',')

98,34

## Extracting the ith bit of a number

In [60]:
benson = str(678905647845)

var = benson[2]

var

'8'

## Given three numbers, one of them is different. Find the different number.

In [66]:
a = 34
b = 67
c= 34

#logic - we are to check if each of the variable is different from the next one, e.g, is a different from b, is it different from c as well?
#the different number would be such that from each side of the coin, each of the logic results in true


if a!=b and a!=c:     #we had True and False
    print('var a is different')
elif b!=a and b!=c:  #we had True and True #which means that it is true that b does not equal a or c
    print('var b is different')
else:                          #c!=a and c!=b  #we had False and True
    print('var c is different')

var b is different