# Working with databases in Python
### ~Python database programming

Python is a popular choice for working with databases due to its flexibility and rich ecosystem of libraries. With python, you can connect to a variety of databases, both relational and non-relational. Python has several libraries available to interact with databases.E.g, sqlite3, mysql-connector-python, etc.

## SQLite Database


### How to connect with database in python
1. import db module

`import sqlite3`


2. Establish connection between the python program and the db

`con = sqlite3.connect(name_of_database)`

3. To execute mysql query and hold result, a cursor is required

`cursor = con.cursor()`

4. Execute mysql query with the help of cursor object

`cursor.execute(query)`

`cursor.executemany()`

5. Fetch the result from the cursor object in case of select query

`cursor.fetchall()`

`cursor.fetchone()`

`cursor.fetchmany(n)`

6. Commit or rollback changes as required

`con.commit()`

`con.rollback()`

7. Close resources and disconnect database

`cursor.close()`

`con.close()`

In [28]:
import sqlite3

con = sqlite3.connect('Data/hannah.db')

print('Connection established')

con.close()

Connection established

In [2]:
import sqlite3

try:
    con = sqlite3.connect('Data/hannah.db')
    print(con)
finally:
    con.close()
    print('Completed')

<sqlite3.Connection object at 0x000001ED83B3C5D0>
Completed

### Creating a database table

In [3]:
import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    
    cursor = con.cursor()
    
    query = 'CREATE TABLE employ_ees(eno int(5) primary key,\
                                    ename varchar(10), eage int(3))'
    
    cursor.execute(query)
    
    print('Table created successfully!')
    con.commit()

except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Completed!')

Table created successfully!
Completed!

### Adding new columns

In [4]:
import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    cursor = con.cursor()
    query = 'alter table employ_ees add column eincome double(10,2)'
    cursor.execute(query)
    
    print('Column added successfully!')
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done')

Column added successfully!
Done

### Inserting operation

In [5]:
import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    cursor = con.cursor()
    query = 'insert into employ_ees(eno, ename, eage, eincome)\
             values(1, "LMS", 23, 345.67)'
    cursor.execute(query)
    
    con.commit()
    print('Row inserted!')
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('All done.')

Row inserted!
All done.

In [6]:
## To add more than one row of data

import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    cursor = con.cursor()
    query = 'insert into employ_ees(eno, ename, eage, eincome)\
            values(?,?,?,?)'
    records = [(3, 'ben', 23, 45.67),(4, 'ann', 56, 7890.8)]
    
    cursor.executemany(query, records) #note the use of executemany here, since we're performing more than one action
    
    con.commit()
    print('Table updated')
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done')

Table updated
Done

### Read operation

In [7]:
import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    cursor = con.cursor()
    query = 'select * from employ_ees'
    
    cursor.execute(query)
    
    data = cursor.fetchall()
    
    for row in data:
        print('Eno: {}, Ename: {}, Eage: {}, Eincome: {}'.format(row[0], row[1], row[2], row[3]))
        
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
finally:
    if cursor:
        cursor.close()  #close the cursor first then the connection
    if con:
        con.close()
    print('All done!')

Eno: 1, Ename: LMS, Eage: 23, Eincome: 345.67
Eno: 3, Ename: ben, Eage: 23, Eincome: 45.67
Eno: 4, Ename: ann, Eage: 56, Eincome: 7890.8
All done!

### Update operation

In [8]:
import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    cursor = con.cursor()
    
    query = 'UPDATE employ_ees SET eage=eage+1 WHERE ename = "LMS"'
    
    cursor.execute(query)
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Done!

### Delete operation

In [9]:
import sqlite3

try:
    con = sqlite3.connect('hannah.db')
    cursor = con.cursor()
    age = input('Enter age: ')
    
    query = 'DELETE FROM employ_ees WHERE eage ={}'.format(age)
    
    cursor.execute(query)
    
    con.commit()
    print('Delete completed!')
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done')

Enter age: 34
Delete completed!
Done

### Reading the database to pandas

In [17]:
import pandas as pd
from sqlalchemy.engine import create_engine

#Using sqlalchemy connectable
engine = create_engine('sqlite:///Data/database.sqlite')

df = pd.read_sql_table('Salaries', engine)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,,326373.19,326373.19,2011,,San Francisco,

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148654 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          148654 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             148654 non-null  object
 11  Agency            148654 non-null  object
 12  Status            148654 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 14.7+ MB

## MySQL

MySQLdb vs pymysql vs mysql.connector

In [6]:
#installing libraies

!pip install mysql.connector

!pip install pymysql

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 956.7 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=5fa95af2f923b75633e67f3c748f6a986564720057dffd35a49715fdb57d2df7
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     -------------------------------------- 44.8/44.8 kB 147.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000020E52F16280>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl

### Connecting with a database in python

1. import database module

`import pymysql as pm`

OR

`import mysql.connector as pm`


2. Establish connection between python program and db

`con = pm.connect(host, database, user, password)`

3. To execute mysql query and hold result, cursor is required

`cursor = con.cursor()`

4. Execute mysql query with the help of the cursor object

`cursor.execute(query)`

`cursor.executemany()`

5. Fech results from cursor object in case of a select query

`cursor.fetchone()`

`cursor.fetchall()`

`cursor.fetchmany(n)`

6. Commit or rollback changes based on your requirement

`con.commit()`

`con.rollback()`

7. Close resources and disconnect database

`cursor.close()`

`con.close()`

### Establishing a connection

In [10]:
import pymysql as pm

try:
    con = pm.connect(host='localhost', database='retail_sales',\
                     user='root', password='root') #insert your password here
    print(con)

finally:
    con.close()
    print('Done')

#note that the database name must exist in your own mysql for the code to work as expected

<pymysql.connections.Connection object at 0x000001ED837916D0>
Done

### Creating database table

In [11]:
import pymysql as pm
try:
    con = pm.connect(host='localhost', database = 'retail_sales',\
                    user = 'root', password = 'root')
    
    cursor = con.cursor()
    
    query = 'CREATE TABLE employees1(eno int(5) PRIMARY KEY,\
             ename varchar(10), eage int(3), eincome double(10,2),\
             FOREIGN KEY(eno) REFERENCES employees(eno))' #make sure you have a table called 'employees in your database'
    
    cursor.execute(query)
    
    print('Table created successfully')
    con.commit()
    
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Table created successfully
Done!

### Insert operation

In [12]:
import pymysql as pm
try:
    con = pm.connect(host='localhost', database = 'retail_sales',\
                    user = 'root', password = 'root')
    
    cursor = con.cursor()
    
    query = 'INSERT INTO employees1(eno, ename, eage, eincome)\
            values(?,?,?,?)'
    
    records = [(3, 'ben', 23, 45.67),(4, 'ann', 56, 7890.8)]
    
    cursor.executemany(query, records)
    
    print('Table created successfully')
    con.commit()
    
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Done!

TypeError: not all arguments converted during string formatting

In [13]:
#doing this again
#we can convert all arguments during the string formatting

import pymysql as pm
try:
    con = pm.connect(host='localhost', database = 'retail_sales',\
                    user = 'root', password = 'root')
    
    cursor = con.cursor()
    
    query = 'INSERT INTO employees1(eno, ename, eage, eincome)\
            values(%s,%s,%s,%s)' ##We used %s here
    
    records = [(3, 'ben', 23, 45.67),(4, 'ann', 56, 7890.8)]
    
    cursor.executemany(query, records)
    
    print('Table created successfully')
    con.commit()
    
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Problem occured:  (1452, 'Cannot add or update a child row: a foreign key constraint fails (`retail_sales`.`employees1`, CONSTRAINT `employees1_ibfk_1` FOREIGN KEY (`eno`) REFERENCES `employees` (`eno`))')
Done!

### Read operation

In [14]:
#doing this again
#we can convert all arguments during the string formatting

import pymysql as pm
try:
    con = pm.connect(host='localhost', database = 'retail_sales',\
                    user = 'root', password = 'root')
    
    cursor = con.cursor()
    
    query = 'SELECT * FROM employees1'
    
    
    cursor.execute(query)
    data = cursor.fetchall()
    
    for row in data:
        print('Eno: {}, Ename: {}, Eage: {}, Esalary: {}'\
              .format(row[0], row[1], row[2], row[3]))
        
    
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Done!

### Update operation

In [15]:
import pymysql as pm
try:
    con = pm.connect(host='localhost', database = 'retail_sales',\
                    user = 'root', password = 'root')
    
    cursor = con.cursor()
    
    query = 'UPDATE employees1 SET eage=eage+1 WHERE ename = "ben"'
    
    
    cursor.execute(query)
    con.commit()
    

except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Done!

### Delete operation

In [16]:
import pymysql as pm
try:
    con = pm.connect(host='localhost', database = 'retail_sales',\
                    user = 'root', password = 'root')
    
    cursor = con.cursor()
    
    age = input('Enter a number: ')
    query = 'DELETE FROM employees1 WHERE eage="%s"'%(age)
    
    
    cursor.execute(query)
    con.commit()
    

except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Done!')

Enter a number: 56
Done!

## SQLAlchemy ORM

ORM - Object Relational Mapper. It is a python library that simplifies interacting with relational databases. It acts as a bridge between the object-oriented world of python and the structured world of relational databases.

**SETUP**

- **Step 1: installing the modules**

`pip install Flask-SQLAlchemy`

`pip install Flask-Migrate`


- **Setup 2: create a flask app**

from flask import Flask
app = Flask(__name__)


- **Step 3: import SQLAlchemy and Migrate module**

from flask_sqlalchemy import SQLAlchemy

from flask_migrate import Migrate


- **Step 4: SQLAlchemy Configuration and pass the application into SQLAlchemy class**


`basedir` = os.path.abspath(os.path.dirname(__file__))

`path` = 'sqlite:///'+os.path.join(basedir, 'data.sqlite')

app.config['SQLALCHEMY_DATABASE_URL'] = path
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

db = SQLAlchemy(app)
Migrate(app, db)


- **Step 5: Create a model or table**

    - Create a model class
    - Inherit from db.Model
    - Provide the table name
    - Add columns in the model
    - Create `_init__`and `__repr__`
    
    
    class Box(db.Model):
        __tablename__ = 'boxes'
        id = db.Column(db.Integer, primary_key = True)
        name = db.Column(db.Text)
        mrp = db.Column(db.Integer)
        
        def __init__(self, name, mrp):
            self.name = name
            self.mrp = mrp
            
        def __repr__(self):
            return 'Box Name - {} and MRP- {}'.format(self.name, self.mrp)
            
            
            
- **Step 6: Run the following commands to migrate the database**

- `set FLASK_APP=app.py`

- `flask db init`

- `flask db migrate -m 'My first DB migrate'`

- `flask db upgrade`

### Basic CRUD Operations

1. Create or Insert Operation

`box = Box(name = 'biscuit', price = 10)  #creating an object`

`db.session.add(box)`

`db.session.commit()`

2. Read operation

`Box.query.all()`


3. Update operation

`box = Box.query.get(2)`

`box.name = 'aloo'`

`db.session.commit()`

4. Delete Operation

`box = Box.query.get(2)`

`db.session.delete(box)`

`db.session.commit()`

### Exploring Read Operation usiing filter_by

**Syntax** - `MODEL_NAME.query.filter_by(MODEL_COLUMN_NAME='')`

1. Getting all the rows if box name is "biscuit" from the database table

`Box.query.filter_by(name='biscuit').all()`

2. Getting only the first row if sabji name is 'biscuit'

`Box.query.filter_by(name='biscuit').first()`

3. Count of rows if box name is "biscuit"

`Box.query.filter_by(name='biscuit').count()`

4. Getting rows by id

`Box.query.filter_by(id=2).first()`

OR

`Box.query.get(2)`

### Other powerful queries using `filter`


**Note:** `filter_by` is used for simple queries on the column names using regular kwargs like: `User.filter_by(name="Joe")`


The same can be accomplished with `filter` not using kwargs, but instead using operators (==, !=, >, <, etc.) which has been overloaded on the db.users,name object like thus: `User.filter(User.name=='Ann')`

1. Getting all the boxes with the name not equal to "biscuit" from the database table

`Box.query.filter(Box.name != "biscuit").all()`

2. LIKE

`Box.query.filter(Box.name.like('%b%')).all()`

3. IN

`Box.query.filter(Box.name.in_(['biscuit', 'wine'])).all()`


4. AND

`Box.query.filter(and_Box.name=='biscuit', Box.price>10)).all()`


5. OR

`Box.query.filter(or_(Box.name=='biscuit', Box.price>10)).all()`


### Order By and JOIN

1. ORDER BY 

`Box.query.order_by(Box.name.desc()).all()`  #you can remove the "desc()" if not needed

2. Join

`db.session.query(Box, Vendor).filter(Box.id==Vendor.sabji_id).all()`