# CONCISE FUNCTIONS

## List Comprehension

They offer a more concise way to create new lists in python. They offer a one-line alternative to using traditional for loops and append statements.

In [2]:
#Here, we have a list of numbers. We want to check for thr numbers which
#even and then append those values to the nums list

nums = [34, 56, 77, 98, 66, 55, 33, 31, 12, 237]

evens = []

##Solution
for num in nums:
    if num%2 == 0:
        evens.append(num)
print(evens)

[34, 56, 98, 66, 12]

In [3]:
## List comprehension can do this in a better way

evens = [num for num in nums if num%2 == 0]

print(evens)

[34, 56, 98, 66, 12]

**Syntax**

lst = [expression for i in sequence]

This says for every i in the sequence, apply the expression and add that expression value to the lst

In [4]:
#example 1

lst = [a for a in 'PYTHON']

lst

['P', 'Y', 'T', 'H', 'O', 'N']

In [6]:
#example 2

lst = [i**2 for i in range(1,20) if i%2 != 0]
print(lst)


#Here, we are saying that for every i value in the sequence,
#if the i value is an odd number then square it and append to the lst list

#Typically the even numbers will be [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
#And when you square these, you'll see the output

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [7]:
#example 3

heros = ['Black Widow', 'Hawkeye', 'Doctor Strange']

#extracting the first character of each name into a list

lst = [word[0] for word in heros]
lst

['B', 'H', 'D']

In [11]:
#example 4

string = 'The quick fox and the slow tortoise were friends a long time ago'

#convert each word into upper case 
#and count the number of characters in each word

lst = [[word.upper(), len(word)] for word in string]
print(lst)

[['T', 1], ['H', 1], ['E', 1], [' ', 1], ['Q', 1], ['U', 1], ['I', 1], ['C', 1], ['K', 1], [' ', 1], ['F', 1], ['O', 1], ['X', 1], [' ', 1], ['A', 1], ['N', 1], ['D', 1], [' ', 1], ['T', 1], ['H', 1], ['E', 1], [' ', 1], ['S', 1], ['L', 1], ['O', 1], ['W', 1], [' ', 1], ['T', 1], ['O', 1], ['R', 1], ['T', 1], ['O', 1], ['I', 1], ['S', 1], ['E', 1], [' ', 1], ['W', 1], ['E', 1], ['R', 1], ['E', 1], [' ', 1], ['F', 1], ['R', 1], ['I', 1], ['E', 1], ['N', 1], ['D', 1], ['S', 1], [' ', 1], ['A', 1], [' ', 1], ['L', 1], ['O', 1], ['N', 1], ['G', 1], [' ', 1], ['T', 1], ['I', 1], ['M', 1], ['E', 1], [' ', 1], ['A', 1], ['G', 1], ['O', 1]]

In [12]:
#the above capitalizes each letter but this is not what we desire
#to rectify this we use split to seoerate the words from each other 

lst = [[word.upper(), len(word)] for word in string.split(' ')]
lst

[['THE', 3],
 ['QUICK', 5],
 ['FOX', 3],
 ['AND', 3],
 ['THE', 3],
 ['SLOW', 4],
 ['TORTOISE', 8],
 ['WERE', 4],
 ['FRIENDS', 7],
 ['A', 1],
 ['LONG', 4],
 ['TIME', 4],
 ['AGO', 3]]

## Anonymous Functions

AKA lambda functions. These are functions defined without qa name using the lambda keyword. They are defined in a sinbgle line of code and can only contain one expression which repesents the function's body and return value.

**Syntax:** lambda arguments: expression

In [14]:
# normal function definition

def square(n):
    return n**2
print(square(5))

25

In [15]:
#using lambda

lambda_sq = lambda n: n**2

print(lambda_sq(5))

25

In [16]:
#using lambda with two arguments

prod = lambda a,b: a*b

print(prod(3,4))

12

In [17]:
#using lambda again and a concept from list comprehension

greater = lambda a,b: a if a>b else b

print(greater(345, 67849))

67849

## filter()

A built-in python functions that allows you to efficiently process an iterable like a tuple, list or string and return a new iterator containing only the elements that meet a certain condition

**Syntax:** filter(function, sequence)

**Problem:**
We have 10 numbers and we want to filter only the even numbers from that list.

In [19]:
#Using traditional means of problem solving

def isEven(x):
    if x%2 == 0:
        return True
    else:
        return False

lst = [0,1,2,3,4,5,6,7,8,9,10]

filtered_list = filter(isEven, lst)

print(filtered_list)
print(type(filtered_list))

<filter object at 0x000001ADBA1D2790>
<class 'filter'>

In [20]:
#from the above we can see the result and type of the results, so we need to convert the results to a list

filtered_list = list(filter(isEven, lst))

print(filtered_list)
print(type(filtered_list))

[0, 2, 4, 6, 8, 10]
<class 'list'>

In [22]:
#Using concise problem solving

lst = [0,1,2,3,4,5,6,7,8,9,10]

filtered_list = list(filter(lambda x: x%2 == 0, lst))

print(filtered_list)

[0, 2, 4, 6, 8, 10]

## map()

Built-in python function used to apply a function to all elements of an iterable and return a new iterator containing the results

**Synatx:** map(function, sequence)

In [23]:
#EXAMPLE 1
#traditional problem solving

def double(x):
    return 2*x

lst = [1,2,4,5,6]

new_list = list(map(double, lst))
new_list

[2, 4, 8, 10, 12]

In [24]:
#concise problem solving

new_list = list(map(lambda x: 2*x, lst))
new_list

[2, 4, 8, 10, 12]

In [26]:
#EXAMPLE 2

#multiplying two lists element wise
list1 = [1,2,3]
list2 = [4,5,6]

new_list = list(map(lambda x,y: x*y, list1, list2))
new_list

[4, 10, 18]

## reduce()

This function is used to reduce a sequence of elements nto a single element by applying the specified function

It is present in the functools module.

**Syntax**

`from functools import *`

`reduce(function, sequence)`

In [27]:
from functools import *

lst = [1,2,3,4,5,6,7,8,9]

reduced_list = reduce(lambda x,y: x+y, lst)

reduced_list

45

# PROBLEM SOLVING QUESTIONS

### **1. Swapping two numbers**

**a. swapping using an extra variable**

In [29]:
a = 4
b = 3

temp = a
a = b
b = temp

print(a,b, sep = ',')

3,4

**b. swapping using 2 variables and arithmetic operations**

AKA

**You are not using any new variables**

In [34]:
a = 5
b = 6
print('Initials: {}, {}'.format(a, b))

#using arithmetic operations

#first add the numbers together
a = a+b  #11

#now minus the value of b being 6 from the sum stored in a
b = a-b #5

#then, minus the value b which is 6 from the total sum being 11, stored in a  
a = a-b #6

print('After swapping: {}, {}'.format(a,b))

Initials: 5, 6
After swapping: 6, 5

**c. swapping by using 2 variables and bitwise XOR (^)**

XOR ensures that we do not waste extra bits during calculation like we would when we use the arithmetic operations.

XOR means exclusive OR, it can operate on two inputs and returns a result based on whether the inputs are the same or different. If they are the same it returns 1 (meaning True), if different, it returns 0 (meaning False)

In [35]:
a = 8
b = 9
print('Initials: {}, {}'.format(a, b))

#using ^
# 8 in binary is 1000
# 11 in binary is 1011

a = a^b


b = a^b


a = a^b

print('After swapping: {}, {}'.format(a,b))

Initials: 8, 9
After swapping: 9, 8

**d. swapping using 2 variables**

In [36]:
a = 5
b = 9

print('Initials: {}, {}'.format(a, b))


a, b = b,a
print('After swapping: {}, {}'.format(a,b))

Initials: 5, 9
After swapping: 9, 5

### **2. Factorial of a number**

In [37]:
#5! = 5*4*3*2*1

In [38]:
import math

user_input = int(input())

print(math.factorial(user_input))

7
5040

In [40]:
#implementing using a for loop

user_input = int(input())
output = 1

for i in range(1, user_input + 1):
    output = output*i

print(output)

''' 
What happens here is that for each number in the range between 1 and the last 
(we obtain the last digit by adding 1 to the input, this will ensure that the range stops at the value before the input+1).

So for each number in that range, the output is equal to the output
already initialized, multiplied by the current number in that range
this process continues till the last value in the range, that is the 
user's input is reached
'''

7
5040

### **3. Fibobonnacci sequence**

This is the sequence of numbers where each number is te sum of the two preceeding ones. It starts with 0 and 1.

F(n) = F(n-1) + F(n-2)

F(3) = F(3-1) + F(3-2) = F(2) + F(1)

In [44]:
#Writing this logic using python

n = int(input())

#intializing the series/sequence
#remember that we can access each value in the list by indexing

list_start = [0,1]

for i in range(2, n):
    list_start.append(list_start[i-1]+list_start[i-2])
    
print(list_start)

1
[0, 1]

### **4. Reversing a list**

In [45]:
first = [10,2,4,15, 8,9]

second = []

for i in range(len(first)):
    second.append(first[len(first)-1-i]) 
print(second)

[9, 8, 15, 4, 2, 10]

This is what the code does:

len(first) = 6

That means we would have 5 iterations starting from 0,1,2,3,4,5

**1. iteration 1 (i = 0)**

`first[len(first) - 1 -i] ==> first[6-1-0] ==> first[5] ==> 9`

Then append 9 to the second list

**2. iteration 2 (i = 1)**

`first[len(first) - 1-i] ==> first[6-1-1] ==> first[4] ==> 8`


And the loop continues till the last number is reached..

In [48]:
my_list = [0,5,6,2,0,23]

print(my_list)

my_list.reverse()
print(my_list)

[0, 5, 6, 2, 0, 23]
[23, 0, 2, 6, 5, 0]

### **5. Palindrome number**

This is a number that reads the same backward and forward. In other words if you reverse the digits of the number, you get the same number.

1-digit numbers are all considered to be palindromic.

In [49]:
original_num = int(input('Enter a number: '))
copy_original_num = original_num

reverse_num = 0

#logic

while original_num > 0:
    rem = original_num % 10
    original_num = original_num//10
    reverse_num = reverse_num*10 + rem
    
if copy_original_num == reverse_num:
    print('Palindrome')
else:
    print('Not Palindrome')

Enter a number: 55
Palindrome

#### Breaking down the logic:

num_to_check = 123

**Iteration 1:**

`rem = 123 % 10 = 3 #extracting the last digit from the number`

`original_num = 123 //10 = 12`

`reverse_num = 0 *10 + 3 = 3`

original_num is still greater than 0 so we can go on a second iteration

**Iteration 2:**

`rem = 12 % 10 = 2 #extracting the second to last digit`

`original_num = 12//10 = 1`

`reverse_num = 3 * 10 +2 = 32`

original_num is still greater than 0, so we go on the third iteration

**Iteration 3:**

`rem = 1 % 10 = 1 #extracting the third digit`

`original_num = 1//10 = 0`

`reverse_num = 32*10+1 = 321`


original_sum = 0 so we cannot go on another iteration



#### Breaking down the logic:

num_to_check = 55

**Iteration 1:**

`rem = 55 % 10 = 5 #extracting the last digit`

`original_num = 55//10 = 5`

`reverse_num = 0*10+5 = 5`

original_num is still greater than 0 so we can go on the second iteration

**Iteration 2:**

`rem = 5 % 10 = 5 #extracting the last digit`

`original_num = 5//10 = 0`

`reverse_num = 5*10+5 = 55`

original_num is 0, so we can stop our iteration.

In [50]:
original_num = int(input('Enter a number: '))
copy_original_num = original_num

reverse_num = 0

#logic

while original_num > 0:
    rem = original_num % 10
    original_num = original_num//10
    reverse_num = reverse_num*10 + rem
    
if copy_original_num == reverse_num:
    print('Palindrome')
else:
    print('Not Palindrome')

Enter a number: 123
Not Palindrome